In [95]:
#Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

import pandas as pd 
import numpy as np 
import requests
from bs4 import BeautifulSoup

In [88]:
url='https://www.imdb.com/list/ls063915608/'
response=requests.get(url)
soup=BeautifulSoup(response.content,'html.parser')

In [89]:
Name=[]
Year=[]
Time_tt=[]
Rating=[]

In [90]:
movie_data=soup.find_all('div',attrs={'class':'lister-item-content'})

In [91]:
for store in movie_data:
    num=store.h3.a.text
    Name.append(num)
    
    year=store.find('span',class_='lister-item-year text-muted unbold').text.replace('(','').replace(')','')
    Year.append(year)
    
    time=store.p.find('span',class_='runtime').text.replace('min','').replace(' ','')
    Time_tt.append(time)
    
    rating=store.find('span',class_='ipl-rating-star__rating').text if store.find('span',class_='ipl-rating-star__rating') else '^^^^'
    Rating.append(rating)

In [93]:
indian_movies=pd.DataFrame({'NAME':Name,'YEAR':Year,'TIME':Time_tt,'RATING':Rating})

In [94]:
indian_movies

                                 NAME  YEAR TIME RATING
0                     Rang De Basanti  2006  167    8.1
1   Lagaan: Once Upon a Time in India  2001  224    8.1
2                      Dil Chahta Hai  2001  183    8.1
3                  Gangs of Wasseypur  2012  321    8.2
4            Zindagi Na Milegi Dobara  2011  155    8.1
..                                ...   ...  ...    ...
95                            Dhamaal  2007  136    7.4
96             Golmaal: Fun Unlimited  2006  150    7.4
97                            Aligarh  2015  114    7.8
98                              Earth  1999  110    7.6
99                      Kapoor & Sons  2016  132    7.7

[100 rows x 4 columns]