In [91]:
# Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) & make Dataframe


import pandas as pd 
import numpy as np
import requests
from bs4 import BeautifulSoup

In [92]:
url="https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating"
response=requests.get(url)
soup=BeautifulSoup(response.content,'html.parser')

In [93]:
## creating empty list
name=[]
rating=[]
year=[]
time=[]

In [94]:
movie_data=soup.find_all('div',attrs={'class':'lister-item mode-advanced'})

In [95]:
for store in movie_data:
    nam=store.h3.a.text
    name.append(nam)
    
    
    rate=store.find('div',class_='inline-block ratings-imdb-rating').text.replace('\n','')
    rating.append(rate)
    
    at_year=store.find('span',class_='lister-item-year text-muted unbold').text.replace('(','').replace(')','')
    year.append(at_year)
    
    rt_time=store.p.find('span',class_='runtime').text.replace('min','').replace(' ','')
    time.append(rt_time)

In [98]:
idmi_movie_data=pd.DataFrame({'name':name,'rating':rating,'year':year,'time':time})

In [100]:
idmi_movie_data

                                             name rating  year time
0                        The Shawshank Redemption    9.3  1994  142
1                                   The Godfather    9.2  1972  175
2                                 The Dark Knight    9.0  2008  152
3   The Lord of the Rings: The Return of the King    9.0  2003  201
4                                Schindler's List    9.0  1993  195
..                                            ...    ...   ...  ...
95                                         Dangal    8.3  2016  161
96                                       Drishyam    8.3  2013  160
97                                         Jagten    8.3  2012  115
98                        Jodaeiye Nader az Simin    8.3  2011  123
99                                      Incendies    8.3  2010  131

[100 rows x 4 columns]