In [771]:
import requests 
from bs4 import BeautifulSoup
import numpy as np 
import pandas as pd

# Question-1

In [609]:
url="https://en.wikipedia.org/wiki/Main_Page"
response=requests.get(url)

In [610]:
response
soup=BeautifulSoup(response.content,'html.parser')

In [611]:
head_tag=(['h1','h2','h3'])
soup.find_all(head_tag)

[<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none">Main Page</h1>,
 <h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>,
 <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>,
 <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>,
 <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>,
 <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>,
 <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>,
 <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>,
 <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>,
 <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>,
 <h2>Navigation menu</h2>,
 <h3 class="vector-menu-heading" id="p-personal-label">
 <span class="vector-menu-heading-label">Personal tools</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-namespaces-label">
 <span class="vector-menu-heading-label">Namespaces</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-views-label">
 <span class="vector-menu-heading-label">Views</span>
 </h3>,
 <h3>
 <label for="searchInput">Search</label>
 </h3>,
 <h3 class="vector-menu-heading" id="p-navigation-label">
 <span class="vector-menu-heading-label">Navigation</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-interaction-label">
 <span class="vector-menu-heading-label">Contribute</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-tb-label">
 <span class="vector-menu-heading-label">Tools</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-coll-print_export-label">
 <span class="vector-menu-heading-label">Print/export</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
 <span class="vector-menu-heading-label">In other projects</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-lang-label">
 <span class="vector-menu-heading-label">Languages</span>
 </h3>]

# Question-2

In [613]:
link2="https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating"
response2=requests.get(link2)
soup=BeautifulSoup(response2.content,'html.parser')

In [614]:
name2=[]
rating2=[]
year2=[]
time2=[]

In [615]:
movie_data=soup.find_all('div',attrs={'class':'lister-item mode-advanced'})

In [616]:
for store in movie_data:
    nam=store.h3.a.text
    name2.append(nam)
    
    
    rate=store.find('div',class_='inline-block ratings-imdb-rating').text.replace('\n','')
    rating2.append(rate)
    
    at_year=store.find('span',class_='lister-item-year text-muted unbold').text.replace('(','').replace(')','')
    year2.append(at_year)
    
    rt_time=store.p.find('span',class_='runtime').text.replace('min','').replace(' ','')
    time2.append(rt_time)

In [617]:
idmi_movie_data=pd.DataFrame({'name':name2,'rating':rating2,'year':year2,'time':time2})

In [618]:
idmi_movie_data

                                             name rating  year time
0                        The Shawshank Redemption    9.3  1994  142
1                                   The Godfather    9.2  1972  175
2                                 The Dark Knight    9.0  2008  152
3   The Lord of the Rings: The Return of the King    9.0  2003  201
4                                Schindler's List    9.0  1993  195
..                                            ...    ...   ...  ...
95                                         Dangal    8.3  2016  161
96                                       Drishyam    8.3  2013  160
97                                         Jagten    8.3  2012  115
98                        Jodaeiye Nader az Simin    8.3  2011  123
99                                      Incendies    8.3  2010  131

[100 rows x 4 columns]

# Question-3

In [620]:
link3='https://www.imdb.com/list/ls063915608/'
response3=requests.get(link3)
soup3=BeautifulSoup(response3.content,'html.parser')

In [621]:
n2=[]
y3=[]
r3=[]
t3=[]

In [622]:
indian_movie_data=soup3.find_all('div',attrs={'class':'lister-item-content'})

In [623]:
for store in indian_movie_data:
    num=store.h3.a.text
    n2.append(num)
    
    year=store.find('span',class_='lister-item-year text-muted unbold').text.replace('(','').replace(')','')
    y3.append(year)
    
    time=store.p.find('span',class_='runtime').text.replace('min','').replace(' ','')
    t3.append(time)
    
    rating=store.find('span',class_='ipl-rating-star__rating').text if store.find('span',class_='ipl-rating-star__rating') else '^^^^'
    r3.append(rating)

In [624]:
indian_movies=pd.DataFrame({'NAME':n2,'YEAR':y3,'TIME':t3,'RATING':r3})

In [625]:
indian_movies

                                 NAME  YEAR TIME RATING
0                     Rang De Basanti  2006  167    8.1
1   Lagaan: Once Upon a Time in India  2001  224    8.1
2                      Dil Chahta Hai  2001  183    8.1
3                  Gangs of Wasseypur  2012  321    8.2
4            Zindagi Na Milegi Dobara  2011  155    8.1
..                                ...   ...  ...    ...
95                            Dhamaal  2007  136    7.4
96             Golmaal: Fun Unlimited  2006  150    7.4
97                            Aligarh  2015  114    7.8
98                              Earth  1999  110    7.6
99                      Kapoor & Sons  2016  132    7.7

[100 rows x 4 columns]

# Question-4

In [627]:
link4='https://presidentofindia.nic.in/former-presidents.htm'
response4=requests.get(link4)

In [628]:
soup4=BeautifulSoup(response4.content,'html.parser')
president=soup4.find_all('div',class_='presidentListing')

In [629]:
Name4=[]
Tenure4=[]

In [630]:
for store in president:
    vam=store.h3.text
    Name4.append(vam)
    
    red=store.p.text
    Tenure4.append(red)

In [631]:
president_of_india=pd.DataFrame({'Name':Name4,'Tenure':Tenure4})

In [632]:
president_of_india

,Name,Tenure
0,Shri Pranab Mukherjee (1935-2020),"Term of Office: 25 July, 2012 to 25 July, 2017"
1,Smt Pratibha Devisingh Patil (birth - 1934),"Term of Office: 25 July, 2007 to 25 July, 2012"
2,DR. A.P.J. Abdul Kalam (1931-2015),"Term of Office: 25 July, 2002 to 25 July, 2007"
3,Shri K. R. Narayanan (1920 - 2005),"Term of Office: 25 July, 1997 to 25 July, 2002"
4,Dr Shankar Dayal Sharma (1918-1999),"Term of Office: 25 July, 1992 to 25 July, 1997"
5,Shri R Venkataraman (1910-2009),"Term of Office: 25 July, 1987 to 25 July, 1992"
6,Giani Zail Singh (1916-1994),"Term of Office: 25 July, 1982 to 25 July, 1987"
7,Shri Neelam Sanjiva Reddy (1913-1996),"Term of Office: 25 July, 1977 to 25 July, 1982"
8,Dr. Fakhruddin Ali Ahmed (1905-1977),"Term of Office: 24 August, 1974 to 11 February..."
9,Shri Varahagiri Venkata Giri (1894-1980),"Term of Office: 3 May, 1969 to 20 July, 1969 a..."
10,Dr. Zakir Husain (1897-1969),"Term of Office: 13 May, 1967 to 3 May, 1969"
11,Dr. Sarvepalli Radhakrishnan (1888-1975),"Term of Office: 13 May, 1962 to 13 May, 1967"
12,Dr. Rajendra Prasad (1884-1963),"Term of Office: 26 January, 1950 to 13 May, 1962"

# Question-5 @ 2

In [634]:
link5="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
response5=requests.get(link5)

In [635]:
soup5=BeautifulSoup(response5.content,'html.parser')

In [636]:
player5=[]
team5=[]
rating5=[]
career_best5=[]

In [637]:
for d in soup5.find_all('div',class_="u-flex-center u-text-left"):
    c=d.text.replace('\n','')
    player5.append(c)

In [638]:
for d in soup5.find_all('td',class_="table-body__cell rankings-table__name name"):
    c= d.text.replace('\n','')
    player5.append(c)

In [639]:
for d in soup5.find_all('div',class_="rankings-block__banner--nationality"):
    c=d.text.replace('\n','')
    team5.append(c)

In [640]:
for d in soup5.find_all('span',class_="table-body__logo-text"):
    c=d.text
    team5.append(c)

In [641]:
for d in soup5.find_all('td',class_="u-text-right u-hide-phablet u-overflow-hidden"):
    c=d.text.replace('\n','').replace('  ','')
    career_best5.append(c)

In [642]:
for d in soup5.find_all('td',class_="table-body__cell u-text-right u-hide-phablet"):
    c=d.text.replace('\n','').replace('  ','')
    career_best5.append(c)

In [643]:
for d in soup5.find_all('td',class_="u-text-left"):
    c=d.text.replace('\n','')
    rating5.append(c)

In [644]:
for d in soup5.find_all('td',class_="table-body__cell rating"):
    c=d.text
    rating5.append(c)

In [645]:
batsman_raking=pd.DataFrame({'player':player5,'team':team5,'rating':rating5 ,'career_best':career_best5})

In [646]:
batsman_raking

             player team rating                     career_best
0        Babar Azam  PAK    892   898 v West Indies, 10/06/2022
1       Imam-ul-Haq  PAK    815   815 v West Indies, 12/06/2022
2       Virat Kohli  IND    811       911 v England, 12/07/2018
3      Rohit Sharma  IND    791     885 v Sri Lanka, 06/07/2019
4   Quinton de Kock   SA    789     813 v Sri Lanka, 10/03/2019
..              ...  ...    ...                             ...
95     Afif Hossain  BAN    429  430 v South Africa, 20/03/2022
96  Mohammad Rizwan  PAK    429   442 v West Indies, 08/06/2022
97    Steven Taylor  USA    425          429 v Oman, 12/06/2022
98         Tony Ura  PNG    424       416 v Namibia, 23/09/2019
99  Ravindra Jadeja  IND    421   552 v West Indies, 08/10/2014

[100 rows x 4 columns]

# Question- 5@ 1

In [648]:
link5_1="https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
response5_1=requests.get(link5_1)

In [649]:
response5_1=requests.get(link5_1)

In [650]:
soup5_1=BeautifulSoup(response5_1.content,'html.parser')

In [651]:
point5_1=[]
team5_1=[]
match5_1=[]
rating5_1=[]

In [652]:
for y in soup5_1.find_all('span',class_="u-hide-phablet"):
    h=y.text
    team5_1.append(h)

In [653]:
team5_20

['New Zealand',
 'England',
 'Pakistan',
 'India',
 'Australia',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan',
 'Ireland',
 'Scotland',
 'UAE',
 'Netherlands',
 'Zimbabwe',
 'Oman',
 'United States',
 'Namibia',
 'Nepal',
 'Papua New Guinea']

In [654]:
match5_200=[]
for y in soup5_1.find_all('td',class_="rankings-block__banner--matches"):
    t=y.text
    match5_200.append(t)

In [668]:
match5_200

['12']

In [655]:
point_match=[]
for y in soup5_1.find_all('td',class_="table-body__cell u-center-text"):
    t=y.text
    point_match.append(t)

In [656]:
point5_00=[]
for y in soup5_1.find_all('td',class_="rankings-block__banner--points"):
    t=y.text
    point5_00.append(t)

In [669]:
mt=point_match[0::2]
match5_51=match5_200+mt
match5_51

['12',
 '22',
 '19',
 '22',
 '23',
 '19',
 '24',
 '29',
 '32',
 '18',
 '20',
 '18',
 '19',
 '18',
 '17',
 '30',
 '20',
 '11',
 '18',
 '22']

In [658]:
pt=point_match[1::2]
point500=point5_00+pt
point500

['1,505',
 '2,756',
 '2,005',
 '2,304',
 '2,325',
 '1,872',
 '2,275',
 '2,658',
 '2,306',
 '1,238',
 '1,083',
 '814',
 '724',
 '603',
 '539',
 '919',
 '544',
 '246',
 '298',
 '134']

In [659]:
rating500=[]
for y in soup5_1.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    t=y.text.replace('\n','').replace('  ','')
    rating500.append(t)

In [660]:
rating511=[]
for y in soup5_1.find_all('td',class_="table-body__cell u-text-right rating"):
    t=y.text
    rating511.append(t)

In [673]:
rating_m=rating500+rating511

['125',
 '125',
 '106',
 '105',
 '101',
 '99',
 '95',
 '92',
 '72',
 '69',
 '54',
 '45',
 '38',
 '34',
 '32',
 '31',
 '27',
 '22',
 '17',
 '6']

In [671]:
print(len(rating511),len(point500),len(match5_51),len(team5_20))

19 20 20 20

In [674]:
team_ranking=pd.DataFrame({'team_name':team5_20,'matches':match5_51,'points':point500,'rating':rating_m})

In [675]:
team_ranking

           team_name matches points rating
0        New Zealand      12  1,505    125
1            England      22  2,756    125
2           Pakistan      19  2,005    106
3              India      22  2,304    105
4          Australia      23  2,325    101
5       South Africa      19  1,872     99
6         Bangladesh      24  2,275     95
7          Sri Lanka      29  2,658     92
8        West Indies      32  2,306     72
9        Afghanistan      18  1,238     69
10           Ireland      20  1,083     54
11          Scotland      18    814     45
12               UAE      19    724     38
13       Netherlands      18    603     34
14          Zimbabwe      17    539     32
15              Oman      30    919     31
16     United States      20    544     27
17           Namibia      11    246     22
18             Nepal      18    298     17
19  Papua New Guinea      22    134      6

# Question-5 @ 3

In [678]:
link5_3="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
response5_3=requests.get(link5_3)

In [679]:
soup5_3=BeautifulSoup(response5_3.content,'html.parser')

In [680]:
bol_player=[]
for t in soup5_3.find_all('div',class_="rankings-block__banner--name-large"):
    k=t.text
    bol_player.append(k)

In [681]:
for t in soup5_3.find_all('td',class_="table-body__cell rankings-table__name name"):
    h=t.text.replace('\n','')
    bol_player.append(h)

In [682]:
bol_team1=[]
for t in soup5_3.find_all('div',class_="rankings-block__banner--nationality"):
    c=t.text.replace('\n','')
    bol_team1.append(c)

In [683]:
for t in soup5_3.find_all('span',class_="table-body__logo-text"):
    r=t.text
    bol_team1.append(r)

In [685]:
bol_rate=[]
for t in soup5_3.find_all('div',class_="rankings-block__banner--rating"):
    c=t.text
    bol_rate.append(c)

In [686]:
for t in soup5_3.find_all('td',class_="table-body__cell rating"):
    c=t.text
    bol_rate.append(c)

In [687]:
bol_best=[]
for t in soup5_3.find_all('span',class_="rankings-block__career-best-text"):
    c=t.text.replace('\n','').replace('  ','')
    bol_best.append(c)

In [688]:
for t in soup5_3.find_all('td',class_="table-body__cell u-text-right u-hide-phablet"):
    c=t.text.replace('\n','').replace('  ','')
    bol_best.append(c)

In [689]:
bowling_ranking=pd.DataFrame({'team':bol_team1,'player':bol_player,'rating':bol_rate,'career_best':bol_best})
bowling_ranking

   team             player rating                    career_best
0    NZ        Trent Boult    726  770 v West Indies, 22/06/2019
1    NZ         Matt Henry    683   691 v Bangladesh, 26/03/2021
2   PAK     Shaheen Afridi    681  688 v West Indies, 10/06/2022
3   ENG       Chris Woakes    680    711 v Sri Lanka, 04/07/2021
4   IND     Jasprit Bumrah    679  841 v West Indies, 01/11/2018
..  ...                ...    ...                            ...
95  AUS  Jason Behrendorff    380      439 v England, 11/07/2019
96  IRE     Barry McCarthy    379  448 v West Indies, 09/01/2020
97   WI       Hayden Walsh    378  383 v Netherlands, 04/06/2022
98  NED     Logan van Beek    378      385 v England, 19/06/2022
99   WI        Kemar Roach    378     650 v Pakistan, 19/07/2013

[100 rows x 4 columns]

# Question 6 @1

In [691]:
link6="https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

In [692]:
respons6=requests.get(link6)
respons6

In [693]:
soup6=BeautifulSoup(respons6.content,'html.parser')

In [694]:
team6=[]

for t in soup6.find_all('span',class_="u-hide-phablet"):
    v=t.text
    team6.append(v)
    
team6

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Pakistan',
 'Sri Lanka',
 'Ireland',
 'Zimbabwe',
 '',
 '',
 '',
 '',
 '']

In [695]:
team6_1=team6[0:11]
team6_1

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Pakistan',
 'Sri Lanka',
 'Ireland',
 'Zimbabwe']

In [696]:
match6=[]

for t in soup6.find_all('td',class_="rankings-block__banner--matches"):
    k=t.text
    match6.append(k)

In [697]:
fin=[]

for p in soup6.find_all('td',class_="table-body__cell u-center-text"):
    e=p.text
    fin.append(e)

In [698]:
matches6=fin[::2]

In [699]:
matche6=match6+matches6
matche6

['29', '32', '30', '29', '31', '30', '12', '30', '8', '8', '8']

In [700]:
point6=[]
for c in soup6.find_all('td',class_="rankings-block__banner--points"):
    y=c.text
    point6.append(y)

In [701]:
k=fin[1::2]
points6=point6+k

In [702]:
rating6=[]

for w in soup6.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    y=w.text.replace('\n','').replace('  ','')
    rating6.append(y)

In [703]:
for y in soup6.find_all('td',class_="table-body__cell u-text-right rating"):
    i=y.text
    rating6.append(i)

In [704]:
womens_odi_team=pd.DataFrame({'team':team6_1,'matches':matche6,'points':points6,'rating':rating6})
womens_odi_team

            team matches points rating
0      Australia      29  4,837    167
1   South Africa      32  3,949    123
2        England      30  3,531    118
3          India      29  2,889    100
4    New Zealand      31  3,019     97
5    West Indies      30  2,768     92
6     Bangladesh      12    930     78
7       Pakistan      30  1,962     65
8      Sri Lanka       8    384     48
9        Ireland       8    351     44
10      Zimbabwe       8      0      0

# Question 6 @2

In [706]:
bat="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
res=requests.get(bat)
soup62=BeautifulSoup(res.content,'html.parser')

In [707]:
ply_name62=[]

for y in soup62.find_all('div',class_="rankings-block__banner--name-large"):
    k=y.text
    ply_name62.append(k)

In [708]:
for r in soup62.find_all('td',class_="table-body__cell rankings-table__name name"):
    j=r.text.replace('\n','')
    ply_name62.append(j)

In [709]:
bat_team62=[]

for l in soup62.find_all('div',class_="rankings-block__banner--nationality"):
    n=l.text.replace('\n','')
    bat_team62.append(n)

In [710]:
for k in soup62.find_all('span',class_="table-body__logo-text"):
    b=k.text
    bat_team62.append(b)

In [711]:
wm_rating62=[]
for j in soup62.find_all('div',class_="rankings-block__banner--rating"):
    g=j.text
    wm_rating62.append(g)

In [712]:
for h in soup62.find_all('td',class_="table-body__cell rating"):
    a=h.text
    wm_rating62.append(a)

In [713]:
carrerbest_wm62=[]
for d in soup62.find_all('span',class_="rankings-block__career-best-text"):
    j=d.text.replace('\n','').replace('  ','')
    carrerbest_wm62.append(j)

In [714]:
for d in soup62.find_all('td',class_="table-body__cell u-text-right u-hide-phablet"):
    n=d.text.replace('\n','').replace(' ','')
    carrerbest_wm62.append(n)

In [715]:
women_batting=pd.DataFrame({'player_name':ply_name62,'team':bat_team62,'rating':wm_rating62,'career_best':carrerbest_wm62})
women_batting

            player_name team rating                 career_best
0          Alyssa Healy  AUS    785   785 v England, 03/04/2022
1        Natalie Sciver  ENG    750    750vAustralia,03/04/2022
2           Beth Mooney  AUS    748      748vEngland,03/04/2022
3       Laura Wolvaardt   SA    713    741vAustralia,22/03/2022
4           Meg Lanning  AUS    710   834vNewZealand,24/02/2016
..                  ...  ...    ...                         ...
95    Eimear Richardson  IRE    211     275vPakistan,19/07/2013
96  Rajeshwari Gayakwad  IND    209  229vSouthAfrica,14/03/2021
97   Anushka Sanjeewani   SL    204    222vAustralia,07/10/2019
98        Hasini Perera   SL    201      250vEngland,02/07/2017
99      Inoka Ranaweera   SL    197    230vAustralia,29/06/2017

[100 rows x 4 columns]

# Question 6 @ 3

In [717]:
all_rounder="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
resp=requests.get(all_rounder)

In [718]:
soup63=BeautifulSoup(resp.content,'html.parser')

In [719]:
name_round=[]
for y in soup63.find_all('div',class_="rankings-block__banner--name-large"):
    s=y.text
    name_round.append(s)

In [720]:
for t in soup63.find_all('td',class_="table-body__cell rankings-table__name name"):
    r=t.text.replace('\n','')
    name_round.append(r)

In [721]:
round_team=[]
for k in soup63.find_all('div',class_="rankings-block__banner--nationality"):
    j=k.text.replace('\n','')
    round_team.append(j)

In [722]:
for t in soup63.find_all('span',class_="table-body__logo-text"):
    o=t.text
    round_team.append(o)

In [723]:
round_rating=[]
for n in soup63.find_all('div',class_="rankings-block__banner--rating"):
    b=n.text
    round_rating.append(b)

In [724]:
for v in soup63.find_all('td',class_="table-body__cell rating"):
    d=v.text
    round_rating.append(d)

In [725]:
round_best=[]
for b in soup63.find_all('div',class_="rankings-block__career-best"):
    v=b.text.replace('\n','').replace('  ','')
    round_best.append(v)

In [726]:
for h in soup63.find_all('td',class_="table-body__cell u-text-right u-hide-phablet"):
    q=h.text.replace('\n','').replace('  ','')
    round_best.append(q)

In [727]:
all_rounder_ranking=pd.DataFrame({'player_name':name_round,'team':round_team,'points':round_rating,'career_best':round_best})

In [728]:
all_rounder_ranking

          player_name team points                     career_best
0      Natalie Sciver  ENG    393     393 v Australia, 03/04/2022
1        Ellyse Perry  AUS    374   548 v West Indies, 11/09/2019
2     Hayley Matthews   WI    338         365 v India, 12/03/2022
3      Marizanne Kapp   SA    338   419 v West Indies, 10/09/2021
4         Amelia Kerr   NZ    335  339 v South Africa, 17/03/2022
5    Ashleigh Gardner  AUS    269   279 v West Indies, 30/03/2022
6       Deepti Sharma  IND    249  397 v South Africa, 09/10/2019
7       Jess Jonassen  AUS    245   308 v West Indies, 11/09/2019
8           Sune Luus   SA    223       223 v Ireland, 17/06/2022
9     Katherine Brunt  ENG    221     296 v Australia, 03/02/2022
10     Jhulan Goswami  IND    217     308 v Australia, 02/02/2016
11  Sophie Ecclestone  ENG    206  217 v South Africa, 31/03/2022
12    Stafanie Taylor   WI    205   559 v New Zealand, 10/10/2013
13      Sophie Devine   NZ    202     305 v Australia, 05/10/2020
14           Nida Dar  PAK    198     206 v Sri Lanka, 03/06/2022
15       Rumana Ahmed  BAN    169  198 v South Africa, 05/03/2022
16       Salma Khatun  BAN    167     170 v Australia, 25/03/2022
17   Dane van Niekerk   SA    159     421 v Sri Lanka, 11/02/2019
18     Heather Knight  ENG    156   249 v West Indies, 13/06/2019
19     Tahlia McGrath  AUS    149   152 v New Zealand, 13/03/2022

# Question-7

In [730]:
url7='https://www.cnbc.com/world/?region=world'
response7=requests.get(url7)

In [737]:
soup7=BeautifulSoup(response7.content,'html.parser')

news=soup7.findAll('div',class_='LatestNews-headlineWrapper')

[<div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">21 Min Ago</time></span><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/stocks-making-the-biggest-moves-premarket-walgreens-constellation-brands-rh-and-others.html" title="Stocks making the biggest moves premarket: Walgreens, Constellation Brands, RH and others">Stocks making the biggest moves premarket: Walgreens, Constellation Brands, RH and others</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">25 Min Ago</time></span><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/5-things-to-know-before-the-stock-market-opens-thursday-june-30.html" title="5 things to know before the stock market opens Thursday">5 things to know before the stock market opens Thursday</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">1 Hour Ago</time></span><a class="ProPill-proPillLink" data-type="pro-button" href="/pro/"><img alt="CNBC Pro" class="LatestNews-proPill ProPill-proPill" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzMiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAzMyAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgNEMwIDEuNzkwODYgMS43OTA4NiAwIDQgMEgyOUMzMS4yMDkxIDAgMzMgMS43OTA4NiAzMyA0VjEyQzMzIDE0LjIwOTEgMzEuMjA5MSAxNiAyOSAxNkg0QzEuNzkwODYgMTYgMCAxNC4yMDkxIDAgMTJWNFoiIGZpbGw9IiMwMEE4NTciLz4KPHBhdGggZD0iTTQgMTEuOTk2SDYuMDY0VjkuMjg0SDguMDA4QzkuODA4IDkuMjg0IDEwLjc5MiA4LjA5NiAxMC43OTIgNi42NTZDMTAuNzkyIDUuMjA0IDkuODA4IDMuOTkyIDguMDA4IDMuOTkySDRWMTEuOTk2Wk04LjY5MiA2LjY0NEM4LjY5MiA3LjE4NCA4LjI4NCA3LjUzMiA3LjczMiA3LjUzMkg2LjA2NFY1LjczMkg3LjczMkM4LjI4NCA1LjczMiA4LjY5MiA2LjA5MiA4LjY5MiA2LjY0NFoiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik0xNi42NTQ5IDExLjk5NkgxOS4wMTg5TDE3LjM4NjkgOS4wNTZDMTguMTMwOSA4Ljc5MiAxOC45ODI5IDguMDQ4IDE4Ljk4MjkgNi42NTZDMTguOTgyOSA1LjE2OCAxNy45NzQ5IDMuOTkyIDE2LjE5ODkgMy45OTJIMTIuMTkwOVYxMS45OTZIMTQuMjU0OVY5LjI4NEgxNS4zMTA5TDE2LjY1NDkgMTEuOTk2Wk0xNi44ODI5IDYuNjMyQzE2Ljg4MjkgNy4xODQgMTYuNDI2OSA3LjUzMiAxNS44ODY5IDcuNTMySDE0LjI1NDlWNS43MzJIMTUuODg2OUMxNi40MjY5IDUuNzMyIDE2Ljg4MjkgNi4wOCAxNi44ODI5IDYuNjMyWiIgZmlsbD0id2hpdGUiLz4KPHBhdGggZD0iTTIwLjE5NjUgOEMyMC4xOTY1IDEwLjQzNiAyMi4wMzI1IDEyLjE0IDI0LjQ4MDUgMTIuMTRDMjYuOTI4NSAxMi4xNCAyOC43NTI1IDEwLjQzNiAyOC43NTI1IDhDMjguNzUyNSA1LjU2NCAyNi45Mjg1IDMuODYgMjQuNDgwNSAzLjg2QzIyLjAzMjUgMy44NiAyMC4xOTY1IDUuNTY0IDIwLjE5NjUgOFpNMjYuNjUyNSA4QzI2LjY1MjUgOS4yOTYgMjUuODAwNSAxMC4zMTYgMjQuNDgwNSAxMC4zMTZDMjMuMTQ4NSAxMC4zMTYgMjIuMjk2NSA5LjI5NiAyMi4yOTY1IDhDMjIuMjk2NSA2LjY5MiAyMy4xNDg1IDUuNjg0IDI0LjQ4MDUgNS42ODRDMjUuODAwNSA1LjY4NCAyNi42NTI1IDYuNjkyIDI2LjY1MjUgOFoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo="/></a><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/bath-and-body-works-can-more-than-double-after-falling-60percent-piper-sandler-says.html" title="Bath and Body Works can more than double after falling 60%, Piper Sandler says">Bath and Body Works can more than double after falling 60%, Piper Sandler says</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">1 Hour Ago</time></span><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/walgreens-wba-q3-2022-earnings-.html" title="Walgreens beats sales expectations as retail growth helps offset steep drop in Covid vaccines">Walgreens beats sales expectations as retail growth helps offset steep drop in Covid vaccines</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">1 Hour Ago</time></span><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/inflation-is-dampening-july-4-fun-how-to-save-on-a-holiday-barbecue.html" title="Inflation is making Fourth of July celebrations more expensive than ever ">Inflation is making Fourth of July celebrations more expensive than ever </a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">1 Hour Ago</time></span><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/imf-sri-lanka-bailout-talks-end-without-a-deal.html" title="IMF-Sri Lanka bailout talks end without a deal">IMF-Sri Lanka bailout talks end without a deal</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">2 Hours Ago</time></span><a class="ProPill-proPillLink" data-type="pro-button" href="/pro/"><img alt="CNBC Pro" class="LatestNews-proPill ProPill-proPill" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzMiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAzMyAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgNEMwIDEuNzkwODYgMS43OTA4NiAwIDQgMEgyOUMzMS4yMDkxIDAgMzMgMS43OTA4NiAzMyA0VjEyQzMzIDE0LjIwOTEgMzEuMjA5MSAxNiAyOSAxNkg0QzEuNzkwODYgMTYgMCAxNC4yMDkxIDAgMTJWNFoiIGZpbGw9IiMwMEE4NTciLz4KPHBhdGggZD0iTTQgMTEuOTk2SDYuMDY0VjkuMjg0SDguMDA4QzkuODA4IDkuMjg0IDEwLjc5MiA4LjA5NiAxMC43OTIgNi42NTZDMTAuNzkyIDUuMjA0IDkuODA4IDMuOTkyIDguMDA4IDMuOTkySDRWMTEuOTk2Wk04LjY5MiA2LjY0NEM4LjY5MiA3LjE4NCA4LjI4NCA3LjUzMiA3LjczMiA3LjUzMkg2LjA2NFY1LjczMkg3LjczMkM4LjI4NCA1LjczMiA4LjY5MiA2LjA5MiA4LjY5MiA2LjY0NFoiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik0xNi42NTQ5IDExLjk5NkgxOS4wMTg5TDE3LjM4NjkgOS4wNTZDMTguMTMwOSA4Ljc5MiAxOC45ODI5IDguMDQ4IDE4Ljk4MjkgNi42NTZDMTguOTgyOSA1LjE2OCAxNy45NzQ5IDMuOTkyIDE2LjE5ODkgMy45OTJIMTIuMTkwOVYxMS45OTZIMTQuMjU0OVY5LjI4NEgxNS4zMTA5TDE2LjY1NDkgMTEuOTk2Wk0xNi44ODI5IDYuNjMyQzE2Ljg4MjkgNy4xODQgMTYuNDI2OSA3LjUzMiAxNS44ODY5IDcuNTMySDE0LjI1NDlWNS43MzJIMTUuODg2OUMxNi40MjY5IDUuNzMyIDE2Ljg4MjkgNi4wOCAxNi44ODI5IDYuNjMyWiIgZmlsbD0id2hpdGUiLz4KPHBhdGggZD0iTTIwLjE5NjUgOEMyMC4xOTY1IDEwLjQzNiAyMi4wMzI1IDEyLjE0IDI0LjQ4MDUgMTIuMTRDMjYuOTI4NSAxMi4xNCAyOC43NTI1IDEwLjQzNiAyOC43NTI1IDhDMjguNzUyNSA1LjU2NCAyNi45Mjg1IDMuODYgMjQuNDgwNSAzLjg2QzIyLjAzMjUgMy44NiAyMC4xOTY1IDUuNTY0IDIwLjE5NjUgOFpNMjYuNjUyNSA4QzI2LjY1MjUgOS4yOTYgMjUuODAwNSAxMC4zMTYgMjQuNDgwNSAxMC4zMTZDMjMuMTQ4NSAxMC4zMTYgMjIuMjk2NSA5LjI5NiAyMi4yOTY1IDhDMjIuMjk2NSA2LjY5MiAyMy4xNDg1IDUuNjg0IDI0LjQ4MDUgNS42ODRDMjUuODAwNSA1LjY4NCAyNi42NTI1IDYuNjkyIDI2LjY1MjUgOFoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo="/></a><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/nio-can-rebound-in-the-second-half-on-a-strong-product-pipeline-morgan-stanley-says.html" title="Nio can rebound in second half on a strong product pipeline, Morgan Stanley says">Nio can rebound in second half on a strong product pipeline, Morgan Stanley says</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">2 Hours Ago</time></span><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/bitcoin-falls-below-19000-again-as-pressure-mounts-on-crypto-firms.html" title="Bitcoin falls below $19,000 again as pressure mounts on crypto firms">Bitcoin falls below $19,000 again as pressure mounts on crypto firms</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">2 Hours Ago</time></span><a class="ProPill-proPillLink" data-type="pro-button" href="/pro/"><img alt="CNBC Pro" class="LatestNews-proPill ProPill-proPill" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzMiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAzMyAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgNEMwIDEuNzkwODYgMS43OTA4NiAwIDQgMEgyOUMzMS4yMDkxIDAgMzMgMS43OTA4NiAzMyA0VjEyQzMzIDE0LjIwOTEgMzEuMjA5MSAxNiAyOSAxNkg0QzEuNzkwODYgMTYgMCAxNC4yMDkxIDAgMTJWNFoiIGZpbGw9IiMwMEE4NTciLz4KPHBhdGggZD0iTTQgMTEuOTk2SDYuMDY0VjkuMjg0SDguMDA4QzkuODA4IDkuMjg0IDEwLjc5MiA4LjA5NiAxMC43OTIgNi42NTZDMTAuNzkyIDUuMjA0IDkuODA4IDMuOTkyIDguMDA4IDMuOTkySDRWMTEuOTk2Wk04LjY5MiA2LjY0NEM4LjY5MiA3LjE4NCA4LjI4NCA3LjUzMiA3LjczMiA3LjUzMkg2LjA2NFY1LjczMkg3LjczMkM4LjI4NCA1LjczMiA4LjY5MiA2LjA5MiA4LjY5MiA2LjY0NFoiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik0xNi42NTQ5IDExLjk5NkgxOS4wMTg5TDE3LjM4NjkgOS4wNTZDMTguMTMwOSA4Ljc5MiAxOC45ODI5IDguMDQ4IDE4Ljk4MjkgNi42NTZDMTguOTgyOSA1LjE2OCAxNy45NzQ5IDMuOTkyIDE2LjE5ODkgMy45OTJIMTIuMTkwOVYxMS45OTZIMTQuMjU0OVY5LjI4NEgxNS4zMTA5TDE2LjY1NDkgMTEuOTk2Wk0xNi44ODI5IDYuNjMyQzE2Ljg4MjkgNy4xODQgMTYuNDI2OSA3LjUzMiAxNS44ODY5IDcuNTMySDE0LjI1NDlWNS43MzJIMTUuODg2OUMxNi40MjY5IDUuNzMyIDE2Ljg4MjkgNi4wOCAxNi44ODI5IDYuNjMyWiIgZmlsbD0id2hpdGUiLz4KPHBhdGggZD0iTTIwLjE5NjUgOEMyMC4xOTY1IDEwLjQzNiAyMi4wMzI1IDEyLjE0IDI0LjQ4MDUgMTIuMTRDMjYuOTI4NSAxMi4xNCAyOC43NTI1IDEwLjQzNiAyOC43NTI1IDhDMjguNzUyNSA1LjU2NCAyNi45Mjg1IDMuODYgMjQuNDgwNSAzLjg2QzIyLjAzMjUgMy44NiAyMC4xOTY1IDUuNTY0IDIwLjE5NjUgOFpNMjYuNjUyNSA4QzI2LjY1MjUgOS4yOTYgMjUuODAwNSAxMC4zMTYgMjQuNDgwNSAxMC4zMTZDMjMuMTQ4NSAxMC4zMTYgMjIuMjk2NSA5LjI5NiAyMi4yOTY1IDhDMjIuMjk2NSA2LjY5MiAyMy4xNDg1IDUuNjg0IDI0LjQ4MDUgNS42ODRDMjUuODAwNSA1LjY4NCAyNi42NTI1IDYuNjkyIDI2LjY1MjUgOFoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo="/></a><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/buy-the-warner-bros-discovery-dip-as-shares-can-nearly-double-from-here-benchmark-says.html" title="Buy the Warner Bros. Discovery dip as shares can nearly double, Benchmark says">Buy the Warner Bros. Discovery dip as shares can nearly double, Benchmark says</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">3 Hours Ago</time></span><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/north-korea-likely-behind-100-million-horizon-crypto-hack-experts.html" title="North Korea is likely culprit behind $100 million crypto heist, researchers say">North Korea is likely culprit behind $100 million crypto heist, researchers say</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">4 Hours Ago</time></span><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/oil-major-totalenergies-to-provide-fuel-discount-at-highway-stations.html" title="French oil major ramps up discount on gasoline prices for millions of motorists">French oil major ramps up discount on gasoline prices for millions of motorists</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">4 Hours Ago</time></span><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/chinas-xi-arrives-in-hong-kong-in-first-trip-off-mainland-since-pandemic.html" title="China's Xi arrives in Hong Kong in his first trip off the mainland since the onset of the pandemic">China's Xi arrives in Hong Kong in his first trip off the mainland since the onset of the pandemic</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">5 Hours Ago</time></span><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/us-bonds-treasury-yields-in-focus-amid-economic-data-auctions.html" title="Treasury yields nudge lower as market participants track economic data">Treasury yields nudge lower as market participants track economic data</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">6 Hours Ago</time></span><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/singapores-unemployment-close-to-pre-covid-levels-says-minister.html" title="Singapore’s unemployment has dropped close to pre-Covid levels, minister says">Singapore’s unemployment has dropped close to pre-Covid levels, minister says</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">6 Hours Ago</time></span><img alt="watch live" class="LatestNews-watchLivePill LivePill-watchLivePill" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDciIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCA0NyAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgNEMwIDEuNzkwODYgMS43OTA4NiAwIDQgMEg0M0M0NS4yMDkxIDAgNDcgMS43OTA4NiA0NyA0VjEyQzQ3IDE0LjIwOTEgNDUuMjA5MSAxNiA0MyAxNkg0QzEuNzkwODYgMTYgMCAxNC4yMDkxIDAgMTJWNFoiIGZpbGw9IiNGRjUwNTMiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04Ljk5OTczIDEwLjMxOTJDMTAuMjgwNSAxMC4zMTkyIDExLjMxODggOS4yODEwMyAxMS4zMTg4IDguMDAwNDFDMTEuMzE4OCA2LjcxOTc5IDEwLjI4MDUgNS42ODE2NCA4Ljk5OTczIDUuNjgxNjRDNy43MTg5NCA1LjY4MTY0IDYuNjgwNjYgNi43MTk3OSA2LjY4MDY2IDguMDAwNDFDNi42ODA2NiA5LjI4MTAzIDcuNzE4OTQgMTAuMzE5MiA4Ljk5OTczIDEwLjMxOTJaIiBmaWxsPSJ3aGl0ZSIvPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTQgOEM0IDEwLjc2MTYgNi4yMzg3MiAxMyA5IDEzQzExLjc2MTMgMTMgMTQgMTAuNzYxNiAxNCA4QzE0IDUuMjM4NDMgMTEuNzYxMyAzIDkgM0M2LjIzODcyIDMgNCA1LjIzODQzIDQgOFpNMTMuMjc2NiA3Ljk5OTY5QzEzLjI3NjYgMTAuMzYwNiAxMS4zNjIyIDEyLjI3NDggOS4wMDAzNyAxMi4yNzQ4QzYuNjM4NTIgMTIuMjc0OCA0LjcyNDEyIDEwLjM2MDYgNC43MjQxMiA3Ljk5OTY5QzQuNzI0MTIgNS42Mzg3NyA2LjYzODUyIDMuNzI0NjEgOS4wMDAzNyAzLjcyNDYxQzExLjM2MjIgMy43MjQ2MSAxMy4yNzY2IDUuNjM4NzcgMTMuMjc2NiA3Ljk5OTY5WiIgZmlsbD0id2hpdGUiLz4KPHBhdGggZD0iTTE3LjQ2OTIgMTIuMDAySDIyLjc0OTJWMTAuMjAySDE5LjUzMzJWMy45OThIMTcuNDY5MlYxMi4wMDJaIiBmaWxsPSJ3aGl0ZSIvPgo8cGF0aCBkPSJNMjQuMzAwOCAxMi4wMDJIMjYuMzY0OFYzLjk5OEgyNC4zMDA4VjEyLjAwMloiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik0zMC40NDQ3IDEyLjAwMkgzMy4wMzY3TDM2LjA2MDcgMy45OThIMzMuNzIwN0wzMS43NDA3IDkuNzdMMjkuNzcyNyAzLjk5OEgyNy40MzI3TDMwLjQ0NDcgMTIuMDAyWiIgZmlsbD0id2hpdGUiLz4KPHBhdGggZD0iTTM3LjEzMTkgMTIuMDAySDQyLjk5OTlWMTAuMjYySDM5LjE5NTlWOC44MjJINDIuOTE1OVY3LjA3SDM5LjE5NTlWNS43MzhINDIuOTk5OVYzLjk5OEgzNy4xMzE5VjEyLjAwMloiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo="/><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/russia-ukraine-live-updates.html" title="'Everything was going fine between us' Putin says of NATO expansion; Russian forces withdraw from Snake Island">'Everything was going fine between us' Putin says of NATO expansion; Russian forces withdraw from Snake Island</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">7 Hours Ago</time></span><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/pboc-chinese-plans-to-save-hit-a-record-high-in-q2-job-concerns-rise.html" title="In China, more and more people want to save money as job worries grow">In China, more and more people want to save money as job worries grow</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">7 Hours Ago</time></span><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/coinbase-seeks-europe-licenses-in-bid-to-expand-growth-outside-us.html" title="Coinbase seeks licenses in Europe as it looks to ramp up growth outside the U.S.">Coinbase seeks licenses in Europe as it looks to ramp up growth outside the U.S.</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">7 Hours Ago</time></span><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/heres-whats-hot-and-whats-not-in-fintech-right-now.html" title="Here's what's hot — and what's not — in fintech right now">Here's what's hot — and what's not — in fintech right now</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">8 Hours Ago</time></span><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/european-markets-open-to-close-as-recession-concerns-persist.html" title="Europe markets decline as recession concerns persist; Germany's Uniper down 14%">Europe markets decline as recession concerns persist; Germany's Uniper down 14%</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">8 Hours Ago</time></span><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/grayscale-sues-sec-after-rejected-bid-to-turn-bitcoin-fund-into-etf.html" title="Grayscale sues SEC after rejection of bid to turn largest bitcoin fund into ETF">Grayscale sues SEC after rejection of bid to turn largest bitcoin fund into ETF</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">11 Hours Ago</time></span><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/china-snaps-up-russian-coal-at-deep-discounts-as-ukraine-war-continues.html" title="China continues to snap up Russian coal at steep discounts">China continues to snap up Russian coal at steep discounts</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">12 Hours Ago</time></span><a class="ProPill-proPillLink" data-type="pro-button" href="/pro/"><img alt="CNBC Pro" class="LatestNews-proPill ProPill-proPill" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzMiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAzMyAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgNEMwIDEuNzkwODYgMS43OTA4NiAwIDQgMEgyOUMzMS4yMDkxIDAgMzMgMS43OTA4NiAzMyA0VjEyQzMzIDE0LjIwOTEgMzEuMjA5MSAxNiAyOSAxNkg0QzEuNzkwODYgMTYgMCAxNC4yMDkxIDAgMTJWNFoiIGZpbGw9IiMwMEE4NTciLz4KPHBhdGggZD0iTTQgMTEuOTk2SDYuMDY0VjkuMjg0SDguMDA4QzkuODA4IDkuMjg0IDEwLjc5MiA4LjA5NiAxMC43OTIgNi42NTZDMTAuNzkyIDUuMjA0IDkuODA4IDMuOTkyIDguMDA4IDMuOTkySDRWMTEuOTk2Wk04LjY5MiA2LjY0NEM4LjY5MiA3LjE4NCA4LjI4NCA3LjUzMiA3LjczMiA3LjUzMkg2LjA2NFY1LjczMkg3LjczMkM4LjI4NCA1LjczMiA4LjY5MiA2LjA5MiA4LjY5MiA2LjY0NFoiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik0xNi42NTQ5IDExLjk5NkgxOS4wMTg5TDE3LjM4NjkgOS4wNTZDMTguMTMwOSA4Ljc5MiAxOC45ODI5IDguMDQ4IDE4Ljk4MjkgNi42NTZDMTguOTgyOSA1LjE2OCAxNy45NzQ5IDMuOTkyIDE2LjE5ODkgMy45OTJIMTIuMTkwOVYxMS45OTZIMTQuMjU0OVY5LjI4NEgxNS4zMTA5TDE2LjY1NDkgMTEuOTk2Wk0xNi44ODI5IDYuNjMyQzE2Ljg4MjkgNy4xODQgMTYuNDI2OSA3LjUzMiAxNS44ODY5IDcuNTMySDE0LjI1NDlWNS43MzJIMTUuODg2OUMxNi40MjY5IDUuNzMyIDE2Ljg4MjkgNi4wOCAxNi44ODI5IDYuNjMyWiIgZmlsbD0id2hpdGUiLz4KPHBhdGggZD0iTTIwLjE5NjUgOEMyMC4xOTY1IDEwLjQzNiAyMi4wMzI1IDEyLjE0IDI0LjQ4MDUgMTIuMTRDMjYuOTI4NSAxMi4xNCAyOC43NTI1IDEwLjQzNiAyOC43NTI1IDhDMjguNzUyNSA1LjU2NCAyNi45Mjg1IDMuODYgMjQuNDgwNSAzLjg2QzIyLjAzMjUgMy44NiAyMC4xOTY1IDUuNTY0IDIwLjE5NjUgOFpNMjYuNjUyNSA4QzI2LjY1MjUgOS4yOTYgMjUuODAwNSAxMC4zMTYgMjQuNDgwNSAxMC4zMTZDMjMuMTQ4NSAxMC4zMTYgMjIuMjk2NSA5LjI5NiAyMi4yOTY1IDhDMjIuMjk2NSA2LjY5MiAyMy4xNDg1IDUuNjg0IDI0LjQ4MDUgNS42ODRDMjUuODAwNSA1LjY4NCAyNi42NTI1IDYuNjkyIDI2LjY1MjUgOFoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo="/></a><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/electric-vehicles-goldman-sachs-names-stocks-to-buy-to-tap-growth.html" title="Goldman says buy these global stocks to play a $900 billion EV opportunity">Goldman says buy these global stocks to play a $900 billion EV opportunity</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">12 Hours Ago</time></span><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/asia-markets-china-pmi-data-stocks-currencies-oil.html" title="China Shenzhen stocks rise as data shows factory activity grew; Asia stocks slip">China Shenzhen stocks rise as data shows factory activity grew; Asia stocks slip</a></div>,
 <div class="LatestNews-headlineWrapper"><span class="LatestNews-wrapper"><time class="LatestNews-timestamp">13 Hours Ago</time></span><a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/29/cramers-lightning-round-i-prefer-deere-over-nutrien-right-here.html" title="Cramer's lightning round: I prefer Deere over Nutrien right here">Cramer's lightning round: I prefer Deere over Nutrien right here</a></div>,

In [739]:
head_name=[]
time=[]
links_main=[]

In [740]:
for store in news:
    h=store.find('a',class_='LatestNews-headline').text
    head_name.append(h)
    
    fg=store.find('time',class_='LatestNews-timestamp').text
    time.append(fg)
    
h

'Best trades on CNBC Wednesday: Find bargains among megacap tech stocks'

In [810]:
soup7=BeautifulSoup(response7.text,'html.parser')

In [759]:
c=soup7.find_all('a',attrs={'class':"LatestNews-headline"})
c

[<a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/stocks-making-the-biggest-moves-premarket-walgreens-constellation-brands-rh-and-others.html" title="Stocks making the biggest moves premarket: Walgreens, Constellation Brands, RH and others">Stocks making the biggest moves premarket: Walgreens, Constellation Brands, RH and others</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/5-things-to-know-before-the-stock-market-opens-thursday-june-30.html" title="5 things to know before the stock market opens Thursday">5 things to know before the stock market opens Thursday</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/bath-and-body-works-can-more-than-double-after-falling-60percent-piper-sandler-says.html" title="Bath and Body Works can more than double after falling 60%, Piper Sandler says">Bath and Body Works can more than double after falling 60%, Piper Sandler says</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/walgreens-wba-q3-2022-earnings-.html" title="Walgreens beats sales expectations as retail growth helps offset steep drop in Covid vaccines">Walgreens beats sales expectations as retail growth helps offset steep drop in Covid vaccines</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/inflation-is-dampening-july-4-fun-how-to-save-on-a-holiday-barbecue.html" title="Inflation is making Fourth of July celebrations more expensive than ever ">Inflation is making Fourth of July celebrations more expensive than ever </a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/imf-sri-lanka-bailout-talks-end-without-a-deal.html" title="IMF-Sri Lanka bailout talks end without a deal">IMF-Sri Lanka bailout talks end without a deal</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/nio-can-rebound-in-the-second-half-on-a-strong-product-pipeline-morgan-stanley-says.html" title="Nio can rebound in second half on a strong product pipeline, Morgan Stanley says">Nio can rebound in second half on a strong product pipeline, Morgan Stanley says</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/bitcoin-falls-below-19000-again-as-pressure-mounts-on-crypto-firms.html" title="Bitcoin falls below $19,000 again as pressure mounts on crypto firms">Bitcoin falls below $19,000 again as pressure mounts on crypto firms</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/buy-the-warner-bros-discovery-dip-as-shares-can-nearly-double-from-here-benchmark-says.html" title="Buy the Warner Bros. Discovery dip as shares can nearly double, Benchmark says">Buy the Warner Bros. Discovery dip as shares can nearly double, Benchmark says</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/north-korea-likely-behind-100-million-horizon-crypto-hack-experts.html" title="North Korea is likely culprit behind $100 million crypto heist, researchers say">North Korea is likely culprit behind $100 million crypto heist, researchers say</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/oil-major-totalenergies-to-provide-fuel-discount-at-highway-stations.html" title="French oil major ramps up discount on gasoline prices for millions of motorists">French oil major ramps up discount on gasoline prices for millions of motorists</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/chinas-xi-arrives-in-hong-kong-in-first-trip-off-mainland-since-pandemic.html" title="China's Xi arrives in Hong Kong in his first trip off the mainland since the onset of the pandemic">China's Xi arrives in Hong Kong in his first trip off the mainland since the onset of the pandemic</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/us-bonds-treasury-yields-in-focus-amid-economic-data-auctions.html" title="Treasury yields nudge lower as market participants track economic data">Treasury yields nudge lower as market participants track economic data</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/singapores-unemployment-close-to-pre-covid-levels-says-minister.html" title="Singapore’s unemployment has dropped close to pre-Covid levels, minister says">Singapore’s unemployment has dropped close to pre-Covid levels, minister says</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/russia-ukraine-live-updates.html" title="'Everything was going fine between us' Putin says of NATO expansion; Russian forces withdraw from Snake Island">'Everything was going fine between us' Putin says of NATO expansion; Russian forces withdraw from Snake Island</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/pboc-chinese-plans-to-save-hit-a-record-high-in-q2-job-concerns-rise.html" title="In China, more and more people want to save money as job worries grow">In China, more and more people want to save money as job worries grow</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/coinbase-seeks-europe-licenses-in-bid-to-expand-growth-outside-us.html" title="Coinbase seeks licenses in Europe as it looks to ramp up growth outside the U.S.">Coinbase seeks licenses in Europe as it looks to ramp up growth outside the U.S.</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/heres-whats-hot-and-whats-not-in-fintech-right-now.html" title="Here's what's hot — and what's not — in fintech right now">Here's what's hot — and what's not — in fintech right now</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/european-markets-open-to-close-as-recession-concerns-persist.html" title="Europe markets decline as recession concerns persist; Germany's Uniper down 14%">Europe markets decline as recession concerns persist; Germany's Uniper down 14%</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/grayscale-sues-sec-after-rejected-bid-to-turn-bitcoin-fund-into-etf.html" title="Grayscale sues SEC after rejection of bid to turn largest bitcoin fund into ETF">Grayscale sues SEC after rejection of bid to turn largest bitcoin fund into ETF</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/china-snaps-up-russian-coal-at-deep-discounts-as-ukraine-war-continues.html" title="China continues to snap up Russian coal at steep discounts">China continues to snap up Russian coal at steep discounts</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/electric-vehicles-goldman-sachs-names-stocks-to-buy-to-tap-growth.html" title="Goldman says buy these global stocks to play a $900 billion EV opportunity">Goldman says buy these global stocks to play a $900 billion EV opportunity</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/30/asia-markets-china-pmi-data-stocks-currencies-oil.html" title="China Shenzhen stocks rise as data shows factory activity grew; Asia stocks slip">China Shenzhen stocks rise as data shows factory activity grew; Asia stocks slip</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/29/cramers-lightning-round-i-prefer-deere-over-nutrien-right-here.html" title="Cramer's lightning round: I prefer Deere over Nutrien right here">Cramer's lightning round: I prefer Deere over Nutrien right here</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/29/cramer-warns-investors-not-to-group-all-stocks-of-the-same-sector-together-no-two-stocks-are-truly-alike.html" title="Cramer warns investors not to group all stocks of the same sector together ">Cramer warns investors not to group all stocks of the same sector together </a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/29/cramer-charts-suggest-recent-commodities-boom-will-come-down-long-term.html" title="Cramer: Charts suggest the recent commodities boom 'is not long for the world'">Cramer: Charts suggest the recent commodities boom 'is not long for the world'</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/29/palantir-ceo-karp-on-fighting-with-peter-thiel-and-progressives.html" title="Palantir CEO Alex Karp on fighting with Peter Thiel and progressives ">Palantir CEO Alex Karp on fighting with Peter Thiel and progressives </a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/29/spirit-airlines-delays-shareholder-vote-on-frontier-deal-to-july-8.html" title="Spirit delays merger shareholder vote before meeting to continue deal talks ">Spirit delays merger shareholder vote before meeting to continue deal talks </a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/29/pinterest-improving-boards-to-help-people-take-more-action-ceo-says.html" title="Pinterest improving boards to help people ‘take more action,' new CEO Ready says">Pinterest improving boards to help people ‘take more action,' new CEO Ready says</a>,
 <a class="LatestNews-headline" href="https://www.cnbc.com/2022/06/29/best-trades-on-cnbc-wednesday-pros-load-up-on-megacap-tech.html" title="Best trades on CNBC Wednesday: Find bargains among megacap tech stocks">Best trades on CNBC Wednesday: Find bargains among megacap tech stocks</a>]

In [768]:
link7=[]
for l in c:
    link=l['href']
    link7.append(link)
len(link7)

30

In [769]:
data_news=pd.DataFrame({'headline':head_name,'time_of_news':time,'web_links':link7})
data_news

,headline,time_of_news,web_links
0,Stocks making the biggest moves premarket: Wal...,21 Min Ago,https://www.cnbc.com/2022/06/30/stocks-making-...
1,5 things to know before the stock market opens...,25 Min Ago,https://www.cnbc.com/2022/06/30/5-things-to-kn...
2,Bath and Body Works can more than double after...,1 Hour Ago,https://www.cnbc.com/2022/06/30/bath-and-body-...
3,Walgreens beats sales expectations as retail g...,1 Hour Ago,https://www.cnbc.com/2022/06/30/walgreens-wba-...
4,Inflation is making Fourth of July celebration...,1 Hour Ago,https://www.cnbc.com/2022/06/30/inflation-is-d...
5,IMF-Sri Lanka bailout talks end without a deal,1 Hour Ago,https://www.cnbc.com/2022/06/30/imf-sri-lanka-...
6,Nio can rebound in second half on a strong pro...,2 Hours Ago,https://www.cnbc.com/2022/06/30/nio-can-reboun...
7,"Bitcoin falls below $19,000 again as pressure ...",2 Hours Ago,https://www.cnbc.com/2022/06/30/bitcoin-falls-...
8,Buy the Warner Bros. Discovery dip as shares c...,2 Hours Ago,https://www.cnbc.com/2022/06/30/buy-the-warner...
9,North Korea is likely culprit behind $100 mill...,3 Hours Ago,https://www.cnbc.com/2022/06/30/north-korea-li...
10,French oil major ramps up discount on gasoline...,4 Hours Ago,https://www.cnbc.com/2022/06/30/oil-major-tota...
11,China's Xi arrives in Hong Kong in his first t...,4 Hours Ago,https://www.cnbc.com/2022/06/30/chinas-xi-arri...
12,Treasury yields nudge lower as market particip...,5 Hours Ago,https://www.cnbc.com/2022/06/30/us-bonds-treas...
13,Singapore’s unemployment has dropped close to ...,6 Hours Ago,https://www.cnbc.com/2022/06/30/singapores-une...
14,'Everything was going fine between us' Putin s...,6 Hours Ago,https://www.cnbc.com/2022/06/30/russia-ukraine...
15,"In China, more and more people want to save mo...",7 Hours Ago,https://www.cnbc.com/2022/06/30/pboc-chinese-p...
16,Coinbase seeks licenses in Europe as it looks ...,7 Hours Ago,https://www.cnbc.com/2022/06/30/coinbase-seeks...
17,Here's what's hot — and what's not — in fintec...,7 Hours Ago,https://www.cnbc.com/2022/06/30/heres-whats-ho...
18,Europe markets decline as recession concerns p...,8 Hours Ago,https://www.cnbc.com/2022/06/30/european-marke...
19,Grayscale sues SEC after rejection of bid to t...,8 Hours Ago,https://www.cnbc.com/2022/06/30/grayscale-sues...
20,China continues to snap up Russian coal at ste...,11 Hours Ago,https://www.cnbc.com/2022/06/30/china-snaps-up...
21,Goldman says buy these global stocks to play a...,12 Hours Ago,https://www.cnbc.com/2022/06/30/electric-vehic...
22,China Shenzhen stocks rise as data shows facto...,12 Hours Ago,https://www.cnbc.com/2022/06/30/asia-markets-c...
23,Cramer's lightning round: I prefer Deere over ...,13 Hours Ago,https://www.cnbc.com/2022/06/29/cramers-lightn...
24,Cramer warns investors not to group all stocks...,13 Hours Ago,https://www.cnbc.com/2022/06/29/cramer-warns-i...
25,Cramer: Charts suggest the recent commodities ...,13 Hours Ago,https://www.cnbc.com/2022/06/29/cramer-charts-...
26,Palantir CEO Alex Karp on fighting with Peter ...,13 Hours Ago,https://www.cnbc.com/2022/06/29/palantir-ceo-k...
27,Spirit delays merger shareholder vote before m...,13 Hours Ago,https://www.cnbc.com/2022/06/29/spirit-airline...
28,Pinterest improving boards to help people ‘tak...,13 Hours Ago,https://www.cnbc.com/2022/06/29/pinterest-impr...
29,Best trades on CNBC Wednesday: Find bargains a...,14 Hours Ago,https://www.cnbc.com/2022/06/29/best-trades-on...

# Question-8

In [772]:
url8="https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
response8=requests.get(url8)
response8

In [773]:
soup8=BeautifulSoup(response8.content,'html.parser')

In [774]:
article_head=[]
link8=[]
author_name=[]
publish_data=[]

In [775]:
a=soup8.find_all('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR")
for s in a :
    q=s.text
    article_head.append(q)

In [776]:
c=soup8.find_all('a',class_="sc-5smygv-0 nrDZj")
for f in c:
    k=f['href']
    link8.append(k)

In [777]:
v=soup8.find_all('span',class_="sc-1thf9ly-2 bKddwo")
for y in v:
    f=y.text
    publish_data.append(f)

In [778]:
g=soup8.find_all('span',class_="sc-1w3fpd7-0 pgLAT")
for t in g:
    s=t.text
    author_name.append(s)

In [779]:
article_data=pd.DataFrame({'article_head':article_head,'author_name':author_name,'publish_data':publish_data,'links':link8,})

In [780]:
article_data

,article_head,author_name,publish_data,links
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# Question-9

In [782]:
url9="https://www.dineout.co.in/delhi-restaurants/buffet-special"
response9=requests.get(url9)
response9

In [783]:
restaurant_name=[]
img=[]
location=[]
price=[]

In [792]:
soup9= BeautifulSoup(response9.text,'html.parser')

In [793]:
rest=[]
d=soup9.find_all('a',class_="restnt-name ellipsis")
for r in d:
    f=r.text
    rest.append(f)

In [794]:
image=[]
for i in soup9.find_all('img',class_="no-img"):
    x=i['data-src']
    image.append(x)

In [795]:
for u in soup9.findAll('div',class_="restnt-loc ellipsis"):
    r=u.text
    location.append(r)

In [796]:
o_price=[]

for f in soup9.findAll('span',class_="double-line-ellipsis"):
    c=f.text.split()
    o_price.append(c)

In [797]:
rating9=[]
for r in soup9.find_all('div',class_="restnt-rating rating-4"):
    f=r.text
    rating9.append(f)

In [798]:
dineout_data=pd.DataFrame({'Resturent':rest,'Location':location,'price & cuisinies':o_price,'rating':rating9,'image_url':image})

In [799]:
dineout_data

,Resturent,Location,price & cuisinies,rating,image_url
0,Castle Barbeque,"Connaught Place, Central Delhi","[₹, 2,000, for, 2, (approx), |, North, Indian,...",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"3CS Mall,Lajpat Nagar - 3, South Delhi","[₹, 1,400, for, 2, (approx), |, North, Indian,...",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Pacific Mall,Tagore Garden, West Delhi","[₹, 2,000, for, 2, (approx), |, Chinese,, Nort...",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"The Leela Ambience Convention Hotel,Shahdara, ...","[₹, 3,000, for, 2, (approx), |, Italian,, Cont...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"Gardens Galleria,Sector 38A, Noida","[₹, 1,700, for, 2, (approx), |, North, Indian,...",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"Hilton Garden Inn,Saket, South Delhi","[₹, 2,400, for, 2, (approx), |, North, Indian,...",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,"Taurus Sarovar Portico,Mahipalpur, South Delhi","[₹, 1,800, for, 2, (approx), |, North, Indian]",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad","[₹, 1,900, for, 2, (approx), |, North, Indian]",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,"Vibe by The Lalit Traveller,Sector 35, Faridabad","[₹, 2,400, for, 2, (approx), |, North, Indian,...",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"Suncity Business Tower,Golf Course Road, Gurgaon","[₹, 2,200, for, 2, (approx), |, North, Indian,...",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,"Sector 29, Faridabad","[₹, 800, for, 2, (approx), |, North, Indian]",3.6,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,"NIT, Faridabad","[₹, 1,500, for, 2, (approx), |, North, Indian,...",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,"DoubleTree By Hilton Gurugram Baani Square,Sec...","[₹, 3,400, for, 2, (approx), |, European,, Ita...",4,https://im1.dineout.co.in/images/uploads/resta...

# Question -10

In [801]:
url10="https://scholar.google.com/citations?view_op=top_venues&hl=en"
response10=requests.get(url10)

In [802]:
soup10=BeautifulSoup(response10.content,'html.parser')

publi=[]
rank=[]
h5_index=[]
h5_median=[]

In [803]:
c=soup10.find_all('id',attrs={'id':"gsc_mvt_table",'class':"gsc_mp_table"})

In [804]:
d=soup10.find_all('td',class_="gsc_mvt_t")
for f in d:
    c=f.text
    publi.append(c)

In [805]:
m=soup10.find_all('td',class_="gsc_mvt_p")
for g in m:
    j=g.text
    rank.append(j)

In [806]:
u=soup10.find_all('a',class_="gs_ibl gsc_mp_anchor")
for r in u:
    m=r.text
    h5_index.append(m)

In [807]:
o=soup10.find_all('span',class_="gs_ibl gsc_mp_anchor")
for t in o:
    g=t.text
    h5_median.append(g)

In [808]:
Data_schlor=pd.DataFrame({'rank':rank,'publication':publi,'h5_index':h5_index,'h5_median':h5_median})

In [809]:
Data_schlor

    rank                                        publication h5_index h5_median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]