In [187]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd 
import numpy as np 
from selenium.webdriver.common.by import By

# 1.scraping data for “Data Analyst” Job position in “Bangalore” location

In [194]:
# connecting to webdriver.

driver= webdriver.Chrome('chromedriver.exe')
url="https://www.naukri.com/"
driver.get(url)

<ipython-input-194-66340e07b883>:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome('chromedriver.exe')

In [10]:
## search elements from the search bars.
search_jobs=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_jobs

In [11]:
# search for data analyst
search_jobs.send_keys("Data Analyst")

In [13]:
#search for location as per question it is bangalore
search_locations=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locations

In [14]:
#search for the location
search_locations.send_keys("Bangalore")

In [16]:
#now we search from here buy click in search button through coding 
search_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [20]:
## now we scrape data one by one 

### scraping all 10 job titles from the website
title_tag1=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(title_tag1[0:10])

10

In [23]:
job_title1=[]
for t in title_tag1[0:10]:
    job_title1.append(t.text)

In [28]:
## scraping the all 10 location data from the website 
location_tag1=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tag1[0:10])

10

In [30]:
job_location1=[]
for c in location_tag1[0:10]:
    job_location1.append(c.text)

In [36]:
## now we scraping the experience
experience_tag1=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(experience_tag1[0:10])

10

In [38]:
experience1=[]
for e in experience_tag1[0:10]:
    experience1.append(e.text)

In [42]:
#scraping the company name.
company_tag1=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tag1[0:10])

10

In [45]:
company1=[]
for c in company_tag1[0:10]:
    company1.append(c.text)

In [49]:
## all the list have same length
len(job_title1) ,len(job_location1) ,len(experience1) ,len(company1)

(10, 10, 10, 10)

In [52]:
## 10 elements as per question in dataframe
Data_1=pd.DataFrame({'jo_title':job_title1,'company_name':company1,'location':job_location1,'experience':experience1,})
Data_1

,jo_title,company_name,location,experience
0,Data Analyst/Senior Data Analyst,Meesho,Bangalore/Bengaluru,3-6 Yrs
1,Senior Data Analyst II,Flipkart,Bangalore/Bengaluru,3-6 Yrs
2,Data Analyst,BYJUS,Bangalore/Bengaluru,2-5 Yrs
3,"Senior Business Analyst, Data Analytics & Engi...",Artech Infosystems Pvt. Ltd.,Bangalore/Bengaluru\n(WFH during Covid),4-8 Yrs
4,Clinical Data Analyst,Navitas LLP,"Bangalore/Bengaluru, Chennai",3-8 Yrs
5,Senior Data Analyst,Walmart,Bangalore/Bengaluru,4-7 Yrs
6,Senior Data Management Analyst,Wells Fargo,"Bangalore/Bengaluru, Serilingampally",7-12 Yrs
7,Senior Data Management Analyst,Wells Fargo,Bangalore/Bengaluru,8-13 Yrs
8,Business Analyst/Data Analyst,cliqhr.com,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",5-10 Yrs
9,Senior Data Analyst,manoramaONLINE,"Bangalore/Bengaluru, Chennai, kerala",5-10 Yrs

# 2.scraping data for “Data Scientist” Job position in “Bangalore” location

In [62]:
#search the jobs in search bar
search_jobs=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_jobs

In [63]:
search_jobs.send_keys('Data scientist')

In [64]:
# search location in search bar
search_locations=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locations

In [65]:
search_locations.send_keys('Bangalore')

In [67]:
## giving the command for search
search_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [71]:
## now we scrape the job title from the website
title_tag2=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(title_tag2[0:10])

10

In [74]:
title2=[]
for t in title_tag2[0:10]:
    title2.append(t.text)

In [79]:
# here we scrape the location from website
location_tag2=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tag2[0:10])

10

In [80]:
job_location2=[]
for j in location_tag2[0:10]:
    job_location2.append(j.text)

In [86]:
# here we scrape the company name 
company_tag2=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
company2=[]
for c in company_tag2[0:10]:
    company2.append(c.text)

In [88]:
len(job_location2),len(company2),len(title2)

(10, 10, 10)

In [91]:
## now we keep all scrapeed into dataframe 

Data_2=pd.DataFrame({'title':title2,'location':job_location2,'company':company2})
Data_2

,title,location,company
0,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
1,Opportunity For Data Scientist - Female Candid...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",PayU
2,Research and Development -AI/ML -(PhD ),"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",EXL
3,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
4,"Senior Data Scientist, Personalization",Bangalore/Bengaluru,Walmart
5,Data Scientist,Bangalore/Bengaluru,Schneider Electric
6,DigitalBCG GAMMA Data Scientist,"Bangalore/Bengaluru, New Delhi",Boston Consulting Group
7,Senior Data Science Engineer,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",Fractal Analytics
8,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
9,Data Science - Engineering Manager,"Bangalore/Bengaluru, Noida, Mumbai",Paytm

# 3.scraping data using the filters available on the webpage

In [221]:
# search job for data scientist as per question
search_jobs=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_jobs

In [222]:
search_jobs.send_keys('Data scientist')

In [223]:
#search for location of jobs Delhi/ NCR as per question
search_locations=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locations

In [224]:
search_locations.send_keys('Delhi/NCR')

In [225]:
# search by command for serch button
search_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [226]:
# select salary filter to be used is “3-6” lakhs
salary_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[1]/label/p')
salary_filter

In [227]:
salary_filter.click()

In [ ]:
##scraping the data for first 10 job result

In [214]:
title_tag3=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(title_tag3)

18

In [215]:
tittle_3=[]
for t in title_tag3[0:10]:
    tittle_3.append(t.text)
tittle_3

['Data Scientist',
 'Research Analyst',
 'Data Scientist',
 'Hiring For Data Science Intern- DataTrained Education',
 'Data Scientist SME',
 'Research Associate - Data Science',
 'Process Trainer',
 'Hiring For Python Developer',
 'Data Scientist - Experienced/fresher | Kolkata',
 'Data Scientist']

In [233]:
location_tag3=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(job_location3[0:10])

10

In [235]:
job_location_3=[]
for j in location_tag3[0:10]:
    job_location_3.append(j.text)

In [236]:
job_location_3

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Mathikere +11)',
 'Pune(Koregaon Park), Bangalore/Bengaluru(Bellandur)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR',
 'Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Hyderabad/Secunderabad',
 'Tirunelveli, Chennai, Bangalore/Bengaluru(Vidyaranyapura), Vellore',
 'Hyderabad/Secunderabad, Ahmedabad',
 'Kolkata',
 'Bangalore/Bengaluru']

In [239]:
company_tag3=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tag3)

18

In [240]:
company3=[]
for c in company_tag3[0:10]:
    company3.append(c.text)

In [244]:
experience_tag3=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')

experience3=[]
for e in experience_tag3[0:10]:
    experience3.append(e.text)

In [247]:
len(tittle_3),len(job_location_3),len(experience3),len(company3)

(10, 10, 10, 10)

In [250]:
Data_3=pd.DataFrame({'job_title':tittle_3,'company':company3,'experience':experience3,'location':job_location_3})
Data_3

,job_title,company,experience,location
0,Data Scientist,Genpact,7-12 Yrs,Bangalore/Bengaluru
1,Research Analyst,Xsys Software Technologies,0-5 Yrs,Bangalore/Bengaluru(Mathikere +11)
2,Data Scientist,Eversana,3-7 Yrs,"Pune(Koregaon Park), Bangalore/Bengaluru(Bella..."
3,Hiring For Data Science Intern- DataTrained Ed...,DataTrained,0-2 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /..."
4,Data Scientist SME,AMSI TECHNOLOGIES PVT LIMITED,4-9 Yrs,"Chennai, Bangalore/Bengaluru\n(WFH during Covid)"
5,Research Associate - Data Science,Recodeminds Pvt Ltd,1-3 Yrs,Hyderabad/Secunderabad
6,Process Trainer,IB Business Services,2-5 Yrs,"Tirunelveli, Chennai, Bangalore/Bengaluru(Vidy..."
7,Hiring For Python Developer,ANBLICKS CLOUD DATA ENGG PRIVATE LIMITED,3-6 Yrs,"Hyderabad/Secunderabad, Ahmedabad"
8,Data Scientist - Experienced/fresher | Kolkata,SIBIA Analytics and Consulting Services Pvt Ltd,0-4 Yrs,Kolkata
9,Data Scientist,cliqhr.com,5-8 Yrs,Bangalore/Bengaluru

# 4.Scraping data of first 100 sunglasses listings on flipkart.com

In [251]:
## connecting to webdriver
driver= webdriver.Chrome('chromedriver.exe')
link="https://www.flipkart.com/"

driver.get(link)

<ipython-input-251-c808167d5a73>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome('chromedriver.exe')

In [253]:
#searching for the sunglasses
search_sunglasses=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_sunglasses

In [254]:
search_sunglasses.send_keys('sunglasses')

In [259]:
## command to serach button 
search_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [264]:
# scraping brand of sunglasses
brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
brand=[]
for b in brand_tag:
    brand.append(b.text)

In [268]:
# scraping product description
product_description_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
product_description=[]
for p in product_description_tag:
    product_description.append(p.text)

In [271]:
##scraping price
price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
price=[]
for p in price_tag:
    price.append(p.text)

In [283]:
# scraping from next page--page2
next_page=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_page.click()

In [286]:
# scraping brand 
brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for b in brand_tag:
    brand.append(b.text)

In [290]:
# scraping product discription
product_description_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for p in product_description_tag:
    product_description.append(p.text)

In [294]:
# scraping price
price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for p in price_tag:
    price.append(p.text)

In [299]:
# scraping from next page--page3 
next_page=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_page.click()

In [302]:
brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for b in brand_tag[0:20]:
    brand.append(b.text)

In [304]:
product_description_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for p in product_description_tag[0:20]:
    product_description.append(p.text)

In [308]:
price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for p in price_tag[10:20]:
    price.append(p.text)

In [311]:
# Data scraped from website 
Data_4=pd.DataFrame({'Brand':brand,'Product_description':product_description,'Price':price})
Data_4

            Brand                                Product_description Price
0   VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...  ₹799
1   VINCENT CHASE  by Lenskart Polarized, UV Protection Rectangul...  ₹749
2       Elligator                UV Protection Round Sunglasses (54)  ₹315
3        Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹639
4       New Specs   UV Protection Rectangular Sunglasses (Free Size)  ₹264
..            ...                                                ...   ...
95         AISLIN       UV Protection, Gradient Oval Sunglasses (58)  ₹498
96     LIZA ANGEL  Riding Glasses, Night Vision Retro Square Sung...  ₹179
97  VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...  ₹949
98   Singco India  Gradient, Toughened Glass Lens, UV Protection ...  ₹664
99        DEIXELS      UV Protection Wayfarer Sunglasses (Free Size)  ₹249

[100 rows x 3 columns]

# 5.Scraping 100 reviews data from flipkart.com for iphone11 phone

In [211]:
## connecting to webdriver
driver= webdriver.Chrome('chromedriver.exe')
link="https://www.flipkart.com/"

driver.get(link)

<ipython-input-211-a466dcc04477>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome('chromedriver.exe')

In [212]:
#searching for the iphone11 phone
search_iphone11=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_iphone11

In [213]:
search_iphone11.send_keys('iphone11')

In [214]:
## command to serach button 
search_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [215]:
iphone11_open=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]')
iphone11_open.click()

In [170]:
review=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for r in review:
    j=r.text
    rating_iphone.append(j)

In [171]:
rating_iphone

['5', '5', '5', '5', '5', '5', '4', '4', '5', '5']

In [184]:
summary_iphone=[]
summary_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')

In [185]:
for s in summary_tag:
    c=s.text
    summary_iphone.append(c)

In [186]:
summary_iphone

['Great product',
 'Super!',
 'Highly recommended',
 'Must buy!',
 'Best in the market!',
 'Best in the market!',
 'Really Nice',
 'Really Nice',
 'Best in the market!',
 'Highly recommended']

In [194]:
full_review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
review_iphone=[]
for f in full_review:
    c=f.text
    review_iphone.append(c)

In [197]:
review_iphone

['Ordered it for Iphone 11 and well i ll like to say it works perfectly fine with it.\nThe phone gets hot if you push it to 100 percent battery and if you dont ...\nRead full review',
 'Fast charging, Original Product',
 'Very Good glass looks very attractive and flexible also i have never seen this type of glass long lasting, Try at least once .😍',
 'Nice product worth of money',
 'Perfect fit clean look',
 'Perfect fit clean look',
 'If you are looking for an fast and good build iPhone adapter .... Go for it without any hesitation ...it’s worth at this prize segment ...quick and fast char...\nRead full review',
 'iPhone 11 charged 35 mint to 65% good charge',
 'its durable and quite good quality.. i like the product at affordable price...',
 'Very going and genuine Back cover']

In [210]:
more_review=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div')
more_review

[]

# 6. Scrape data for first 100 sneakers

In [4]:
driver= webdriver.Chrome('chromedriver.exe')
link="https://www.flipkart.com/"

driver.get(link)

<ipython-input-4-c808167d5a73>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome('chromedriver.exe')

In [5]:
search_sneaker=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_sneaker

In [6]:
search_sneaker.send_keys('sneaker')

In [7]:
search_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [53]:
p=[]
desc_tag=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]')
for d in desc_tag:
    c=d.text.split('\n')
    p.append(c)

In [57]:
g=pd.DataFrame(p)
g

,0,1,2,3,4
0,RapidBox,Sneakers For Men,₹630₹99936% off,"Size 6, 7, 8, 9, 10, 11",None
1,STRANGER BROTHERS,White & Black Sneakers For Men Casual Shoes Fo...,"₹496₹1,49966% off","Size 6, 7, 8, 9, 10",None
2,WOODLAND,Sneakers For Men,"₹2,096₹2,99530% off",EOSS,None
3,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,"₹269₹1,29979% off",Deal of the Day,"Size 6, 7, 8, 9, 10"
4,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,"₹299₹1,29976% off",Deal of the Day,None
5,Magnolia,Sneakers For Men,₹449₹99955% off,Deal of the Day,None
6,URBANBOX,Sneakers Sneakers For Men,₹198₹99980% off,"Size 6, 7, 8, 9, 10",None
7,RapidBox,Stylish & Trendy Sneakers For Men,₹610₹99938% off,None,None
8,Labbin,Sneakers For Men,₹499₹99950% off,Free delivery,None
9,BIRDE,"Stylish Comfortable Lightweight, Breathable Wa...",₹378₹99962% off,Free delivery,Deal of the Day
10,aadi,Sneakers For Men,₹319₹99968% off,Deal of the Day,"Size 6, 7, 8, 9, 10"
11,HRX by Hrithik Roshan,Sneakers For Men,"₹2,182₹2,99927% off",Free delivery,None
12,BIRDE,"Stylish Comfortable Lightweight, Breathable Wa...",₹335₹99966% off,Free delivery,Deal of the Day
13,ONECENTRE,STR2 Sneakers For Men,₹299₹60050% off,Free delivery,None
14,PUMA,Puma Smash v2 L Sneakers For Men,"₹1,763₹3,49949% off",Free delivery,EOSS
15,pollachief,Casual Sneaker for Men Sneakers For Men,₹559₹99944% off,Free delivery,None
16,PUMA,Smash v2 L Sneakers For Men,"₹2,099₹3,49940% off",Free delivery,EOSS
17,SFR,Sneakers For Men,₹289₹99971% off,Free delivery,None
18,HOTSTYLE,Sneakers For Men,₹258₹99874% off,Free delivery,Deal of the Day
19,Roadster,Sneakers For Men,"₹1,353₹2,89953% off","Size 7, 9, 10, 11",None
20,corsac,STYLISH MENS BLACK SNEAKER Sneakers For Men,"₹499₹1,49966% off",Free delivery,None
21,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,"₹474₹1,99976% off",Free delivery,Deal of the Day
22,CLYMB,Sneakers For Men,"₹616₹1,49958% off",Free delivery,Deal of the Day
23,Scull Wings,White & Black Sneakers For Men Casual Shoes Fo...,"₹496₹1,29961% off",Free delivery,None
24,KWIK FIT,Kwik FIT casual sneaker shoes and partywear sh...,"₹397₹1,99980% off",Free delivery,None
25,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,"₹649₹1,89865% off",Free delivery,Deal of the Day
26,PUMA,Puma Smash v2 L Sneakers For Men,"₹1,877₹3,49946% off",Free delivery,EOSS
27,HOTSTYLE,Sneakers For Men,₹195₹49960% off,"Size 6, 7, 8, 9, 10",None
28,BRUTON,Sneaker Sneakers For Men,"₹269₹1,29979% off",Free delivery,Deal of the Day
29,BIRDE,"Stylish Comfortable Lightweight, Breathable Ca...",₹335₹99966% off,Free delivery,Deal of the Day
30,SCATCHITE,Sneakers Sneakers For Men,₹399₹99960% off,Free delivery,None
31,Kelwin,Sneakers Casual blue shoes Sneakers For Men,₹449₹99955% off,Free delivery,Deal of the Day
32,PEXLO,"Combo Pack of 3 Casual Shoes, Sneakers For Men","₹561₹2,39776% off",Free delivery,Deal of the Day
33,Kraasa,Shark-41 Sneakers For Men,₹479₹99952% off,Free delivery,Deal of the Day
34,Kraasa,"Casuals, Canvas, Partywear Sneakers For Men",₹479₹99952% off,Free delivery,Deal of the Day
35,RapidBox,Sneakers For Men,₹630₹99936% off,None,None
36,Kraasa,Series 7 Sneakers For Men,₹479₹99952% off,Free delivery,Deal of the Day
37,Robbie jones,Casual Sneakers Canvas Shoes For Men Sneakers ...,₹499₹99950% off,Free delivery,None
38,Kzaara,Sneakers For Men,₹259₹99974% off,Free delivery,None
39,sixXplus,Casual For Men (Blue 07) Sneakers For Men (Blu...,₹526₹99947% off,Free delivery,None

In [61]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_button.click()

In [71]:
desc_tag=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]')
for d in desc_tag:
    c=d.text.split('\n')
    p.append(c)

In [78]:
search_button=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
search_button.click()

In [87]:
desc_tag=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]')
for d in desc_tag:
    c=d.text.split('\n')
    p.append(c)

In [95]:
data_sneaker=pd.DataFrame(p)
data_sneaker.columns=['brand','product_description','price','unnnamed1','unnamed2']
Data6=data_sneaker.drop(columns=['unnnamed1','unnamed2'],axis=1)

In [99]:
DATA6=Data6[0:100]
DATA6

,brand,product_description,price
0,RapidBox,Sneakers For Men,₹630₹99936% off
1,STRANGER BROTHERS,White & Black Sneakers For Men Casual Shoes Fo...,"₹496₹1,49966% off"
2,WOODLAND,Sneakers For Men,"₹2,096₹2,99530% off"
3,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,"₹269₹1,29979% off"
4,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,"₹299₹1,29976% off"
...,...,...,...
95,pollachief,Casual Sneaker for Men Sneakers For Men,₹559₹99944% off
96,RapidBox,Sneakers For Men,₹630₹99936% off
97,ZF Klub,Sneakers For Men,₹399₹99960% off
98,Chevit,Men's Combo Pack of 02 Shoes for Men Casual Sn...,"₹589₹1,79867% off"
99,HOTSTYLE,Sneakers For Men,₹195₹49960% off

# 7.

In [125]:
driver= webdriver.Chrome('chromedriver.exe')
link="https://www.myntra.com/sheos"

driver.get(link)

<ipython-input-125-c207b1b0260e>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome('chromedriver.exe')

# 8 scrape first 10 laptops data.

In [126]:
driver= webdriver.Chrome('chromedriver.exe')
link="https://www.amazon.in/"

driver.get(link)

<ipython-input-126-bd68e39546e9>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome('chromedriver.exe')

In [127]:
search_button=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')

In [128]:
search_button.send_keys('Laptop')

In [130]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div')
search.click()

In [131]:
search_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[2]/li[13]/span/a/span')
search_filter.click()

In [314]:
title8_1=[]
title8=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for t in title8:
    c=t.text
    title8_1.append(c)

In [329]:
price8_1=[]
price8_1_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for p in price8_1_tag:
    c=p.text
    price8_1.append(c)

In [381]:
rate8_1=[]
rate_tag=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')

In [384]:
rate_01=[]
for r in rate_tag:
    c=r.text
    rate_01.append(c)

In [389]:
rate_01[:10]

['60', '21', '161', '9', '5', '13', '17', '1', '49', '15']

In [393]:
Data8=pd.DataFrame({'title':title8_1[0:10],'price':price8_1[0:10],'rating':rate_01[0:10]})
Data8

                                               title     price rating
0  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...    84,990     60
1  Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...    72,095     21
2  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    57,890    161
3  Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th G...    75,990      9
4  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...    87,920      5
5  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...    83,603     13
6  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...  1,12,990     17
7  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...  1,64,990      1
8  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    86,990     49
9  Samsung Galaxy Book2 Intel 12th Gen core i7 39...    79,990     15

# 9 Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida

In [398]:
driver=webdriver.Chrome('chromedriver.exe')
link='https://www.ambitionbox.com/'
driver.get(link)

<ipython-input-398-924da942d587>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome('chromedriver.exe')

In [406]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search.send_keys('Data Scientist')

In [407]:
search_button=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search_button.click()

In [465]:
tag=driver.find_elements(By.XPATH,'//div[@class="company-info"]')

In [471]:
rate9=[]
for t in tag:
    b=t.text.split('\n')[-2]
    rate9.append(b)

In [473]:
rate9

['4.1', '4.1', '4.0', '4.0', '3.9', '4.3', '3.9', '3.9', '4.5', '3.8', '3.9']

In [483]:
tag=driver.find_elements(By.XPATH,'//div[@class="company-info"]')

In [486]:
company_na=[]
for t in tag:
    r=t.text

In [490]:
job_date

['7d ago·via naukri.com',
 '14d ago·via naukri.com',
 '1mon ago·via naukri.com',
 '12d ago·via hirist.com',
 '5d ago·via hirist.com',
 '13d ago·via hirist.com',
 '13d ago·via hirist.com',
 '13d ago·via hirist.com',
 '11hr ago·via naukri.com',
 '27d ago·via iimjobs.com']

In [503]:
name_company=[]

In [504]:
tag=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for t in tag:
    f=t.text
    name_company.append(f)

In [513]:
name_company
data9=pd.DataFrame({'company':name_company,'job posted':job_date,'rating':rate9[0:10]})
data9

,company,job posted,rating
0,Optum Global Solutions (India) Private Limited,7d ago·via naukri.com,4.1
1,GENPACT India Private Limited,14d ago·via naukri.com,4.1
2,GENPACT India Private Limited,1mon ago·via naukri.com,4.0
3,InfoEdge India Ltd.,12d ago·via hirist.com,4.0
4,Dew Solutions Pvt. Ltd.,5d ago·via hirist.com,3.9
5,Info Edge India Limited,13d ago·via hirist.com,4.3
6,Info Edge India Limited,13d ago·via hirist.com,3.9
7,Latent bridge,13d ago·via hirist.com,3.9
8,Careerera,11hr ago·via naukri.com,4.5
9,Careernet Consulting,27d ago·via iimjobs.com,3.8

# 10 Write a python program to scrape the salary data for Data Scientist designation

In [ ]:
driver=webdriver.Chrome('chromedriver.exe')
link='https://www.ambitionbox.com/'
driver.get(link)

In [10]:
salary10=[]
tag_salary=driver.find_elements(By.XPATH,'//div[@class="salary-range-wrapper"]')
for t in tag_salary:
    r=t.text.split('\n')
    salary10.append(r)

In [11]:
salary10

[['₹ 30.6L', '₹ 25.0L', '₹ 36.0L'],
 ['₹ 20.8L', '₹ 15.0L', '₹ 26.2L'],
 ['₹ 16.7L', '₹ 11.0L', '₹ 22.0L'],
 ['₹ 15.9L', '₹ 11.0L', '₹ 22.5L'],
 ['₹ 15.7L', '₹ 5.6L', '₹ 26.2L'],
 ['₹ 15.5L', '₹ 10.0L', '₹ 23.0L'],
 ['₹ 14.8L', '₹ 9.0L', '₹ 20.0L'],
 ['₹ 14.0L', '₹ 8.3L', '₹ 21.1L'],
 ['₹ 13.2L', '₹ 7.6L', '₹ 21.0L'],
 ['₹ 12.8L', '₹ 7.0L', '₹ 25.0L']]

In [56]:
exp_plus_total_salary=[]
tag_com=driver.find_elements(By.XPATH,'//div[@class="company-info-wrapper"]')
for t in tag_com:
    g=t.text.split('\n')[-1]
    exp_plus_total_salary.append(g)

In [59]:
len(com_name),len(salary10),len(exp_plus_total_salary)

(10, 10, 10)

In [128]:
df=pd.DataFrame({'company':com_name,'exp and total salary':exp_plus_total_salary})

In [129]:
salary=pd.DataFrame(salary10)
salary.columns=['average','minimum','maximum']

In [130]:
Data10=pd.concat([df,salary],axis=1)
Data10

,company,exp and total salary,average,minimum,maximum
0,Walmart,3 yrs experience (based on 12 salaries),₹ 30.6L,₹ 25.0L,₹ 36.0L
1,Ab Inbev,3-4 yrs experience (based on 33 salaries),₹ 20.8L,₹ 15.0L,₹ 26.2L
2,ZS,2 yrs experience (based on 15 salaries),₹ 16.7L,₹ 11.0L,₹ 22.0L
3,Optum,3-4 yrs experience (based on 32 salaries),₹ 15.9L,₹ 11.0L,₹ 22.5L
4,Reliance Jio,3-4 yrs experience (based on 21 salaries),₹ 15.7L,₹ 5.6L,₹ 26.2L
5,Fractal Analytics,2-4 yrs experience (based on 89 salaries),₹ 15.5L,₹ 10.0L,₹ 23.0L
6,Tiger Analytics,2-4 yrs experience (based on 51 salaries),₹ 14.8L,₹ 9.0L,₹ 20.0L
7,UnitedHealth,2-4 yrs experience (based on 57 salaries),₹ 14.0L,₹ 8.3L,₹ 21.1L
8,EXL Service,3-4 yrs experience (based on 21 salaries),₹ 13.2L,₹ 7.6L,₹ 21.0L
9,Deloitte,2-4 yrs experience (based on 69 salaries),₹ 12.8L,₹ 7.0L,₹ 25.0L