In [396]:
import pandas as pd 
import numpy as np 
import requests 
from bs4 import BeautifulSoup

In [397]:
url="https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

In [398]:
response=requests.get(url)
response

In [399]:
soup=BeautifulSoup(response.content,'html.parser')

In [400]:
cin=[]
for r in soup.find_all('td',attrs={'class':"table-body__cell u-center-text"}):
    cin.append(r.text)

In [495]:
matches=cin[::2]

In [402]:
point=cin[1::2]
ranked=[]
rank_ing=[]

In [403]:
team_name=[]
for i in soup.find_all('span',class_="u-hide-phablet"):
    c=i.text
    team_name.append(c)

In [404]:
teams_name=team_name[0:20]
np.count_nonzero(teams_name)

20

In [405]:
f= soup.find('td',class_="rankings-block__banner--rating u-text-right").text.replace('\n','').replace('    ','')

rank_ing=f

In [406]:
rank_point=[]
for g in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    c=g.text
    rank_point.append(c)

In [448]:
banner_match=[]
## for banner one 
for t in soup.find('td',class_="rankings-block__banner--matches"):
    banner_match.append(t.text)

In [420]:
np.count_nonzero(point)

19

In [467]:
banner_points=[]
banner_rates=[]

for g in soup.find('td',class_="rankings-block__banner--points"):
    banner_points.append(g.text)

In [468]:
for r in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    c=r.text.replace('\n','').replace('  ','')
    banner_rates.append(c)

In [473]:
the_matches=banner_match+matches

In [481]:
the_points=banner_points+point

In [486]:
the_rank=banner_rates+rank_point

In [490]:
data_cricketinfo=pd.DataFrame({'team_name':teams_name,'matches':the_matches,'points':the_points,'ranks':the_rank})

In [494]:
data_cricketinfo

           team_name matches points ranks
0        New Zealand      12  1,505   125
1            England      22  2,756   125
2           Pakistan      19  2,005   106
3              India      22  2,304   105
4          Australia      22  2,182    99
5       South Africa      19  1,872    99
6         Bangladesh      24  2,275    95
7          Sri Lanka      28  2,609    93
8        West Indies      32  2,306    72
9        Afghanistan      18  1,238    69
10           Ireland      20  1,083    54
11          Scotland      18    814    45
12               UAE      19    724    38
13       Netherlands      18    603    34
14          Zimbabwe      17    539    32
15              Oman      30    919    31
16     United States      20    544    27
17           Namibia      11    246    22
18             Nepal      18    298    17
19  Papua New Guinea      22    134     6