In [176]:
import pandas as pd 
import numpy as np 
import requests
from bs4 import BeautifulSoup

In [177]:
url="https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

In [178]:
respons=requests.get(url)

In [179]:
respons

In [180]:
soup=BeautifulSoup(respons.content,'html.parser')

In [181]:
team=[]
for t in soup.find_all('span',class_="u-hide-phablet"):
    v=t.text
    teams.append(v)

In [182]:
team=teams[0:11]
team

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Pakistan',
 'Sri Lanka',
 'Ireland',
 'Zimbabwe']

In [183]:
match=[]

for t in soup.find_all('td',class_="rankings-block__banner--matches"):
    k=t.text
    match.append(k)

In [184]:
fin=[]

for p in soup.find_all('td',class_="table-body__cell u-center-text"):
    e=p.text
    fin.append(e)

In [185]:
matches=fin[::2]

In [186]:
matche=match+matches

In [187]:
point001=[]
for c in soup.find_all('td',class_="rankings-block__banner--points"):
    y=c.text
    point001.append(y)

In [188]:
k=fin[1::2]
points=point001+k

In [189]:
rating=[]

for w in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    y=w.text.replace('\n','').replace('  ','')
    rating.append(y)

In [190]:
for y in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    i=y.text
    rating.append(i)

In [191]:
womens_odi_team=pd.DataFrame({'team':team,'matches':matche,'points':points,'rating':rating})
womens_odi_team

            team matches points rating
0      Australia      29  4,837    167
1   South Africa      32  3,949    123
2        England      30  3,531    118
3          India      29  2,889    100
4    New Zealand      31  3,019     97
5    West Indies      30  2,768     92
6     Bangladesh      12    930     78
7       Pakistan      30  1,962     65
8      Sri Lanka       8    384     48
9        Ireland       8    351     44
10      Zimbabwe       8      0      0

In [192]:
bat="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
res=requests.get(bat)
soup1=BeautifulSoup(res.content,'html.parser')

In [193]:
ply_name=[]

for y in soup1.find_all('div',class_="rankings-block__banner--name-large"):
    k=y.text
    ply_name.append(k)

In [194]:
for r in soup1.find_all('td',class_="table-body__cell rankings-table__name name"):
    j=r.text.replace('\n','')
    ply_name.append(j)

In [199]:
bat_team=[]

for l in soup1.find_all('div',class_="rankings-block__banner--nationality"):
    n=l.text.replace('\n','')
    bat_team.append(n)

In [200]:
for k in soup1.find_all('span',class_="table-body__logo-text"):
    b=k.text
    bat_team.append(b)

In [205]:
wm_rating=[]
for j in soup1.find_all('div',class_="rankings-block__banner--rating"):
    g=j.text
    wm_rating.append(g)

In [214]:
for h in soup1.find_all('td',class_="table-body__cell rating"):
    a=h.text
    wm_rating.append(a)

In [226]:
carrerbest_wm=[]
for d in soup1.find_all('span',class_="rankings-block__career-best-text"):
    j=d.text.replace('\n','').replace('  ','')
    carrerbest_wm.append(j)

In [234]:
for d in soup1.find_all('td',class_="table-body__cell u-text-right u-hide-phablet"):
    n=d.text.replace('\n','').replace(' ','')
    carrerbest_wm.append(n)

In [238]:
women_batting=pd.DataFrame({'player_name':ply_name,'team':bat_team,'rating':wm_rating,'career_best':carrerbest_wm})

In [241]:
women_batting

            player_name team rating                 career_best
0          Alyssa Healy  AUS    785   785 v England, 03/04/2022
1        Natalie Sciver  ENG    750    750vAustralia,03/04/2022
2           Beth Mooney  AUS    748      748vEngland,03/04/2022
3       Laura Wolvaardt   SA    713    741vAustralia,22/03/2022
4           Meg Lanning  AUS    710   834vNewZealand,24/02/2016
..                  ...  ...    ...                         ...
95    Eimear Richardson  IRE    211     275vPakistan,19/07/2013
96  Rajeshwari Gayakwad  IND    209  229vSouthAfrica,14/03/2021
97   Anushka Sanjeewani   SL    204    222vAustralia,07/10/2019
98        Hasini Perera   SL    201      250vEngland,02/07/2017
99      Inoka Ranaweera   SL    197    230vAustralia,29/06/2017

[100 rows x 4 columns]

In [243]:
all_rounder="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
res=requests.get(all_rounder)

In [247]:
soup2=BeautifulSoup(res.content,'html.parser')

In [253]:
name_round=[]
for y in soup2.find_all('div',class_="rankings-block__banner--name-large"):
    s=y.text
    name_round.append(s)

In [261]:
for t in soup2.find_all('td',class_="table-body__cell rankings-table__name name"):
    r=t.text.replace('\n','')
    name_round.append(r)

In [273]:
round_team=[]
for k in soup2.find_all('div',class_="rankings-block__banner--nationality"):
    j=k.text.replace('\n','')
    round_team.append(j)

In [279]:
for t in soup2.find_all('span',class_="table-body__logo-text"):
    o=t.text
    round_team.append(o)

In [284]:
round_rating=[]
for n in soup2.find_all('div',class_="rankings-block__banner--rating"):
    b=n.text
    round_rating.append(b)

In [290]:
for v in soup2.find_all('td',class_="table-body__cell rating"):
    d=v.text
    round_rating.append(d)

In [298]:
round_best=[]
for b in soup2.find_all('div',class_="rankings-block__career-best"):
    v=b.text.replace('\n','').replace('  ','')
    round_best.append(v)

In [309]:
for h in soup2.find_all('td',class_="table-body__cell u-text-right u-hide-phablet"):
    q=h.text.replace('\n','').replace('  ','')
    round_best.append(q)

In [313]:
all_rounder_ranking=pd.DataFrame({'player_name':name_round,'team':round_team,'points':round_rating,'career_best':round_best})

In [315]:
all_rounder_ranking

          player_name team points                     career_best
0      Natalie Sciver  ENG    393     393 v Australia, 03/04/2022
1        Ellyse Perry  AUS    374   548 v West Indies, 11/09/2019
2     Hayley Matthews   WI    338         365 v India, 12/03/2022
3      Marizanne Kapp   SA    338   419 v West Indies, 10/09/2021
4         Amelia Kerr   NZ    335  339 v South Africa, 17/03/2022
5    Ashleigh Gardner  AUS    269   279 v West Indies, 30/03/2022
6       Deepti Sharma  IND    249  397 v South Africa, 09/10/2019
7       Jess Jonassen  AUS    245   308 v West Indies, 11/09/2019
8           Sune Luus   SA    223       223 v Ireland, 17/06/2022
9     Katherine Brunt  ENG    221     296 v Australia, 03/02/2022
10     Jhulan Goswami  IND    217     308 v Australia, 02/02/2016
11  Sophie Ecclestone  ENG    206  217 v South Africa, 31/03/2022
12    Stafanie Taylor   WI    205   559 v New Zealand, 10/10/2013
13      Sophie Devine   NZ    202     305 v Australia, 05/10/2020
14           Nida Dar  PAK    198     206 v Sri Lanka, 03/06/2022
15       Rumana Ahmed  BAN    169  198 v South Africa, 05/03/2022
16       Salma Khatun  BAN    167     170 v Australia, 25/03/2022
17   Dane van Niekerk   SA    159     421 v Sri Lanka, 11/02/2019
18     Heather Knight  ENG    156   249 v West Indies, 13/06/2019
19     Tahlia McGrath  AUS    149   152 v New Zealand, 13/03/2022