In [162]:
import requests
from bs4 import BeautifulSoup
import pandas as pd 
import numpy as np

In [163]:
url="https://www.dineout.co.in/delhi-restaurants/buffet-special"
response=requests.get(url)
response

In [164]:
restaurant_name=[]
img=[]
location=[]
price=[]

In [165]:
soup= BeautifulSoup(response.text,'html.parser')

In [166]:
rest=[]
d=soup.find_all('a',class_="restnt-name ellipsis")
for r in d:
    f=r.text
    rest.append(f)

In [167]:
image=[]
for i in soup.find_all('img',class_="no-img"):
    x=i['data-src']
    image.append(x)

In [168]:
for u in soup.findAll('div',class_="restnt-loc ellipsis"):
    r=u.text
    location.append(r)

In [172]:
o_price=[]

for f in soup.findAll('span',class_="double-line-ellipsis"):
    c=f.text.split()
    o_price.append(c)

In [170]:
rating=[]
for r in soup.find_all('div',class_="restnt-rating rating-4"):
    f=r.text
    rating.append(f)

In [176]:
dineout_data=pd.DataFrame({'Resturent':rest,'Location':location,'price & cuisinies':o_price,'rating':rating,'image_url':image})

In [177]:
dineout_data

,Resturent,Location,price & cuisinies,rating,image_url
0,Castle Barbeque,"Connaught Place, Central Delhi","[₹, 2,000, for, 2, (approx), |, North, Indian,...",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"3CS Mall,Lajpat Nagar - 3, South Delhi","[₹, 1,400, for, 2, (approx), |, North, Indian,...",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Pacific Mall,Tagore Garden, West Delhi","[₹, 2,000, for, 2, (approx), |, Chinese,, Nort...",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"The Leela Ambience Convention Hotel,Shahdara, ...","[₹, 3,000, for, 2, (approx), |, Italian,, Cont...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"Gardens Galleria,Sector 38A, Noida","[₹, 1,700, for, 2, (approx), |, North, Indian,...",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"Hilton Garden Inn,Saket, South Delhi","[₹, 2,400, for, 2, (approx), |, North, Indian,...",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,"Taurus Sarovar Portico,Mahipalpur, South Delhi","[₹, 1,800, for, 2, (approx), |, North, Indian]",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad","[₹, 1,900, for, 2, (approx), |, North, Indian]",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,"Vibe by The Lalit Traveller,Sector 35, Faridabad","[₹, 2,400, for, 2, (approx), |, North, Indian,...",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"Suncity Business Tower,Golf Course Road, Gurgaon","[₹, 2,200, for, 2, (approx), |, North, Indian,...",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,"Sector 29, Faridabad","[₹, 800, for, 2, (approx), |, North, Indian]",3.6,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,"NIT, Faridabad","[₹, 1,500, for, 2, (approx), |, North, Indian,...",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,"DoubleTree By Hilton Gurugram Baani Square,Sec...","[₹, 3,400, for, 2, (approx), |, European,, Ita...",4,https://im1.dineout.co.in/images/uploads/resta...